//Progress Bar
.progress_bar_item{
    .item_bar{
        background: var(--n0);
        border-radius: 100px;
        height: 11px;
        .progress{
            border-radius: 100px;
            background: var(--p2);
            height: 11px;
        }
    }
}
//Progress Bar