// footer-section
.footer-section{
    .newsletter{
        .element-2{
            margin: -20px;
        }
        .element-2, .element-3{
            animation: rotate 28s linear infinite;
        }
    }
    .footer-links{
        ul{
            overflow: hidden;
        }
        a{
            position: relative;
            display: flex;
            align-items: center;
            transition: var(--transition);
            &::before {
                content: "\f318";
                font-family: 'Phosphor';
                z-index: 1;
                position: absolute;
                color: rgba(var(--n2), 1);
                left: -30px;
                font-size: 18px;
                transition: var(--transition);
            }
            &:hover{
                padding-left: 20px;
                &::before {
                    color: rgba(var(--n2), 1);
                    left: -5px;
                }
            }
        }
    }
    .footer-social{
        i{
            @include box(24);
        }
    }
    .col-6{
        @include maxQuery(480){
            width: 100% !important;
        }
    }
}