html {
	scroll-behavior: initial !important;
}

body {
	font-family: var(--body-font);
	background-color: rgba(var(--s2, 1));
	color: rgba(var(--n1, 1));
	padding: 0;
	margin: 0;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
}

section,
footer {
	overflow: hidden;
}

a, 
p,
button,
span,
label,
li {
	margin: 0;
	font-family: var(--body-font);
	color: rgba(var(--n1), 1);
	transition: var(--transition);
	font-weight: 400;
}

.transition{
	transition: var(--transition);
}

a {
	text-decoration: none;
	outline: none;
	color: rgba(var(--n1), 1);
	&:focus, &:hover {
		text-decoration: none;
		outline: none;
		color: rgba(var(--n1), 1);
	}
}

h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a,
.display-one, .display-two, .display-three, .display-four, .display-five, .display-six, .display-ex-one, .heading{
	font-family: var(--head-font);
	color: rgba(var(--p2), 1);
	font-weight: 700;
	padding: 0;
	margin: 0;
	line-height: 120%;
	display: block;
	transition: var(--transition);
	span{
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		line-height: inherit;
		font-weight: inherit;
	}
}
.phosphor-icon{
	font-family: 'Phosphor';
}
i{
	&::before{
		font-weight: inherit !important;
	}
}

span{
	i{
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		position: inherit;
		transition: inherit;
	}
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
	li{
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
	}
}

button {
	border: none;
	cursor: pointer;
	padding: 0;
	background-color: transparent;
}

input,
textarea {
	padding: 12px 20px;
	color: rgba(var(--n1), 1);
	width: 100%;
	font-family: var(--body-font);
	outline-color: transparent;
	font-size: 16px;
	border-radius: 6px;
	background-color: rgba(var(--n1), 1);
	border: 1px solid rgba(var(--n1), 1);
	&::placeholder {
		color: rgba(var(--n1), 0.1);
		font-size: 16px;
	}
	&:focus{
		outline: 1px solid rgba(var(--p1), 1);
		box-shadow: none;
		border: 1px solid transparent;
	}
	&:-webkit-autofill{
		box-shadow: 0 0 0 30px rgba(var(--s1), 1) inset;
	}
}

// input custom 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="checkbox"] {
	width: initial;
	height: initial;
}

// select custom 
select {
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	outline: none;
}
.max-auto{
	max-width: 100%;
}
.max-un {
	max-width: unset;
}

.d-rtl {
	direction: rtl;
}

.collapsing {
	transition: var(--transition);
}

// color with class
.alt-color{
	a, p, span, h1, h2, h3, h4, h5, h6, i, select, button{
		color: rgba(var(--s2), 1);
	}
}
.p1-color{
	color: rgba(var(--p1), 1);
}
.p2-color{
	color: rgba(var(--p2), 1);
}

.s1-color{
	color: rgba(var(--s1), 1);
}
.s2-color{
	color: rgba(var(--s2), 1);
}

.n1-color{
	color: rgba(var(--n1), 1);
}

.p1-bg-color{
	background-color: rgba(var(--p1), 1);
}
.p2-bg-color{
	background-color: rgba(var(--p2), 1);
}

.s1-bg-color{
	background-color: rgba(var(--s1), 1);
}
.s2-bg-color{
	background-color: rgba(var(--s2), 1);
}

.n1-bg-color{
	background-color: rgba(var(--n1), 1);
}

.box-shadow-sm{
	box-shadow: var(--box-shadow-sm);
}

.fw-mid{
	font-weight: 500;
}

.text-gradient{
	background: var(--gradient-p1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.max-ch{
	max-width: 60ch;
}
.max-ch-sec{
	max-width: 40ch;
}

// File Upload Custom
.file-upload{
    border-radius: 48px;
    border: 1px solid rgba(var(--p1), 1);
	input{
		display: none;
	}
	.file {
		cursor: pointer;
		position: relative;
		.file-custom {
			border-radius: 20px;
		}
	}
	.add-file{
        color: rgba(var(--p1), 1);
	}
}

// btn-popup-animation
.btn-popup-animation{
	z-index: 1;
	transition: var(--transition);
	i{
		z-index: 1;
	}
	&:before, &::after{
		content: "";
		position: absolute;
		z-index: -1;
		background: rgba(var(--s2), 1);
		border-radius: 50%;
		@include box(100);
		@include maxQuery(576){
			@include box(70);
		}
	}
	&:before{
		z-index: 1;
	}
	&:after{
		background-color: rgba(var(--s2), 1);
		z-index: -1;
		animation: waves 2s 1s ease-out infinite;
	}
	@include maxQuery(576){
		@include box(60);
	}
}

// Circle Text
.circle-text{
	@include box(185);
	border-radius: 50%;
	border: 7px solid rgba(var(--s2), 1);
	position: relative;
	@include maxQuery(991){
		@include box(135);
	}
	img{
		max-width: 85px;
		@include maxQuery(991){
			max-width: 65px;
		}
	}
	.text{
		animation: rotate 50s linear infinite;
		width: 100%;
		height: 100%;
		position: absolute;
		p{
			transform: translate(50%, 5px);
		}
		span{
			position: absolute;
			font-size: inherit;
			color: inherit;
			font-weight: 600;
			transform-origin: 0 80px;
		}
		@include maxQuery(991){
			p{
				transform: translate(50%, 0);
			}
			span{
				transform-origin: 0 60px;
			}
		}
	}
	&:hover{
		.text{
			animation-play-state: paused;
		}
	}
}

// text hover style 
.slide-vertical,
.slide-horizontal {
    .char {
        overflow: hidden;
        color: transparent;
        &::after, &::before{
            visibility: visible;
            color: rgba(var(--s1), 1);
            transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
            transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
        }
        &::before{
            color: rgba(var(--p1), 1);
			font-weight: 500;
            transition-delay: calc( 0.02s * ( var(--char-index)) );
        }
    }
    &:hover, &.active {
        .char{
            &:before {
				transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index)) ) );
            }
            &:after {
				color: rgba(var(--p1), 1);
                transition-delay: calc( 0.02s * ( var(--char-index)) );
            }
        }
    }
}
.slide-vertical {
    .char{
        &:before {
            transform: translateY(-100%);
        }
    }
    &:hover {
        .char{
            &:before {
                transform: translateY(0%);
            }
            &::after {
                transform: translateY(100%);
            }
        }
    }
}
.slide-horizontal {
    .char{
        &:before {
            transform: translateX(110%);
        }
    }
    &:hover {
        .char{
            &:before {
                transform: translateX(0%);
            }
            &::after {
                transform: translateX(-110%);
            }
        }
    }
}

// circle box hover
.box-style {
    position: relative;
    overflow: hidden;
	z-index: 0;
	text-align: center;
    &:hover {
        &::before {
            width: 400%;
            height: 400%;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 100%;
        background-color: rgba(var(--n1), 0.1);
        transition: all 0.7s ease;
        z-index: -1;
    }
	&.first-box{
		&:hover{
			span, i{
				color: rgba(var(--s1), 1);
			}
		}
		&::before {
			background-color: rgba(var(--p1), 1);
		}
	}
	&.box-second{
		span, i{
			color: rgba(var(--s2), 1);
			transition: var(--transition);
		}
		&:hover {
			border-color: rgba(var(--n1), 1);
			i {
				transform: rotateY(180deg);
			}
			i, span{
				color: rgba(var(--s2), 1);
			}
		}
		&::before {
			background-color: rgba(var(--n1), 1);
		}
		&.first-alt{
			border: 1px solid rgba(var(--s2), 1);
			span, i{
				color: rgba(var(--s1), 1);
			}
			&:hover {
				border-color: rgba(var(--p1), 1);
				span, i{
					color: rgba(var(--s1), 1);
				}
			}
			&::before {
				background-color: rgba(var(--p1), 1);
			}
			&.first-second{
				span, i{
					color: rgba(var(--p2), 1);
					transform: rotateY(0deg);
				}
				&:hover {
					border-color: rgba(var(--p1), 1);
					span, i{
						color: rgba(var(--s1), 1);
					}
				}
			}
		}
		&.second-alt{
			background-color: rgba(var(--s1), 1);
			border: 1px solid transparent;
			span, i{
				color: rgba(var(--p2), 1);
			}
			&:hover {
				border-color: transparent;
				span, i{
					color: rgba(var(--s1), 1);
				}
			}
			&::before {
				background-color: rgba(var(--p1), 1);
			}
		}
	}
	&.box-third{
		background-color: rgba(var(--s1), 1);
		@include box(60);
		@include maxQuery(1199){
			@include box(50);
		}
		border-radius: 50%;
		border: 1px solid transparent;
		&::before {
			background-color: rgba(var(--p1), 1);
		}
		&:hover {
			border-color: transparent;
			i{
				transform: rotateY(180deg);
			}
			i, span{
				color: rgba(var(--s1), 1);
			}
		}
		span, i{
			color: rgba(var(--n1), 1);
			transition: var(--transition);
		}
		&.second-alt{
			background-color: rgba(var(--p1), 1);
			@include box(200);
			@include maxQuery(1199){
				@include box(150);
			}
			@include maxQuery(767){
				@include box(100);
			}
			border-radius: 50%;
			border: 1px solid transparent;
			&::before {
				background-color: rgba(var(--s1), 1);
			}
			&:hover {
				border-color: transparent;
				i, span{
					color: rgba(var(--n1), 1);
				}
			}
			span, i{
				color: rgba(var(--s1), 1);
			}
		}
		&.third-alt{
			background-color: rgba(var(--s2), 1);
			@include box(140);
			@include maxQuery(1199){
				@include box(100);
			}
			@include maxQuery(767){
				@include box(90);
			}
			border-radius: 50%;
			border: 1px solid transparent;
			&::before {
				background-color: rgba(var(--p1), 1);
			}
			&::after {
				content: "";
				position: absolute;
				width: 80%;
				height: 80%;
				border: 1px dashed rgba(var(--p2), 1);
				border-radius: 50%;
				transition: all 0.5s ease-in-out;
			}
			&:hover {
				border-color: transparent;
				i, span{
					color: rgba(var(--n1), 1);
				}
				img{
					filter: invert(1);
				}
				&::after {
					border: 1px dashed rgba(var(--s1), 1);
				}
			}
			span, i{
				color: rgba(var(--s1), 1);
			}
			img{
				transition: var(--transition);
			}
		}
	}
}

// vertical border 
.v-border{
	background: rgba(var(--p1), 0.2);
    width: 1px;
    height: 25px;
}

// vertical line
.v-line{
    &::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        background-color: rgba(var(--p2), 0.2);
    }
}

// sec-img
.sec-img img{
	@include maxQuery(1199){
		width: 100% !important;
	}
	@include maxQuery(991){
		width: 80% !important;
	}
}

// vertical border 
.cus-border{
	border-color: rgba(var(--s1), 1) !important;
	&.b-second{
		border-color: rgba(var(--p1), 1) !important;
	}
	&.b-third{
		border-color: rgba(var(--p2), 1) !important;
	}
	&.b-fourth{
		border-color: rgba(var(--p2), 0.2) !important;
	}
	&.b-fifth{
		border-color: rgba(var(--s1), 0.2) !important;
	}
	&.b-sixth{
		border-color: rgba(var(--p2), 0.1) !important;
	}
}

// dotted border
.border-bottom-dash{ 
    border-bottom: 1px dashed transparent;
}

// ul custom
.ul-dots{
	li{
		list-style: disc;
	}
}
.ul-decimal{
	li{
		list-style: decimal;
	}
}

// counter Area 
.counters{
	.odometer span{
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
	}
	.odometer-digit-inner{
		left: initial !important;
		right: initial !important;
	}
}

// Social Area 
.social-area{
	a{
		transition: var(--transition);
		@include box(36);
		@include maxQuery(991){
            @include box(24);
        }
		i{
			transition: var(--transition);
		}
		&:hover{
			background: rgba(var(--p1), 1);
			i{
				color: rgba(var(--s2), 1);
			}
		}
	}
}

// image-box-effect
.image-box-effect {
    &:hover{
        img{
            &:nth-child(1) {
                transform: translateX(0) scaleX(1);
                opacity: 1;
                filter: blur(0);
            }
            &:nth-child(2) {
                transform: translateX(-50%) scaleX(2);
                opacity: 0;
                filter: blur(12px);
            }
        }
    }
    img{
        &:nth-child(1) {
            transform: translateX(50%) scaleX(2);
            opacity: 0;
            filter: blur(12px);
        }
    }
    .img {
        position: absolute;
        transition: 0.9s;
    }
}

// Mouse Follower
.mouse-follower{
	z-index: 10;
	span{
		z-index: 10;
		opacity: 1;
		top: -10px;
		left: -10px;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		position: fixed;
		transition: 100ms ease-in-out;
		pointer-events: none;
	}
	.cursor-outline{
		height: 30px;
		width: 30px;
		border: 1px solid rgba(var(--n1), 1);
	}
	.cursor-dot {
		height: 6px;
		width: 6px;
		background: rgba(var(--n1), 1);
		transition: var(--transition);
	}
	&.hide-cursor{
		span{
			border-color: transparent;
			background: transparent;
		}
	}
	&.highlight-cursor-head{
		cursor: none;
		.cursor-outline{
			height: 0;
			width: 0;
		}
		.cursor-dot {
			height: 150px;
			width: 150px;
			background: rgba(var(--n1), 1);
			mix-blend-mode: difference;
			@media (max-width: 991px) {
				height: 80px;
				width: 80px;
			}
		}
	}
	&.highlight-cursor-para{
		cursor: none;
		.cursor-outline{
			height: 0;
			width: 0;
		}
		.cursor-dot {
			height: 100px;
			width: 100px;
			background: rgba(var(--n1), 1);
			mix-blend-mode: difference;
			@media (max-width: 991px) {
				height: 60px;
				width: 60px;
			}
		}
	}
}

.table thead th,
.table td,
.table th {
	border: none;
}

.ovf-unset {
	overflow-x: unset !important;
}

iframe {
	border: 0;
	width: 100%;
}

// Custom Dropdown 
::-webkit-scrollbar-track {
	background: rgba(var(--n1), 1);
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	background: rgba(var(--p1), 1);
}
.cus-scrollbar{
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    max-height: 90vh;
    top: 100px;
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb{
		background-color: #000;
		height: 10px;overflow: visible;
	}

	&:hover{
		&::-webkit-scrollbar {
			width: 3px;
		}
		&::-webkit-scrollbar-track {
			background: rgba(255, 211, 198, 0.5);
		}
		&::-webkit-scrollbar-button,
		&::-webkit-scrollbar-thumb {
			background: rgba(var(--p1), 1);
		}
	}
}

.d-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cus-z-1 {
	z-index: -1;
}

.cus-z0 {
	z-index: 0;
}

.cus-z1 {
	z-index: 1;
}

.cus-z2 {
	z-index: 2;
}

.top-sticky{
	top: 100px;
}

.title-area::after {
    content: "";
    position: absolute;
    width: 40px;
    left: 0;
    height: 2px;
    background-color: rgba(var(--p1), 1);
}

// Scroll To Top 
.scrollToTop {
	position: fixed;
	bottom: 0;
	width: 45px;
	height: 45px;
	right: 30px;
	background-color: rgba(var(--p1), 1);
	padding: 0 12px;
	color: rgba(var(--p1), 1);
	line-height: 120%;
	font-size: 12px;
	text-align: center;
	z-index: 9;
	cursor: pointer;
	transition: all 1s;
	transform: translateY(100%);
	&:hover{
		i{
			margin: 0;
		}
	}
	i{
		transition: var(--transition);
		margin-bottom: -25px;
	}
	&.active {
		bottom: 30px;
		transform: translateY(0%);
	}
}

#preloader {
	background-color: rgba(var(--n1), 1);
	overflow: hidden;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100vh;
	z-index: 99999;
	#loader {
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: rgba(var(--s1), 1);
		animation: preload 2s linear infinite;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: rgba(var(--s1), 1);
			-webkit-animation: preload 3s linear infinite;
			animation: preload 3s linear infinite;
		}
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: rgba(var(--s1), 1);
			-webkit-animation: preload 1.5s linear infinite;
			animation: preload 1.5s linear infinite;
		}
	}
}
@keyframes preload {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Custom Filter
.singleFilter{
	.filter-list {
		li{
			cursor: pointer;
		}
	}
	.filter-links{
		&.active{
			span{
				text-decoration: underline;
			}
		}
	}
	.filterItems {
		position: relative;
		> div {
			position: absolute;
			z-index: -1;
			top: 0;
			opacity: 0;
			transition: 0.8s all;
			transform: scale(0.001);
			transition-property: opacity, transform;
			transition-duration: 0.6s;
			transition-delay: 0ms;
			&.active {
				position: initial;
				z-index: 1;
				opacity: 1;
				transform: translate3d(0px, 0px, 0px);
			}
			&.fade-out {
				opacity: 0;
				transform: scale(0.001);
				transition: opacity 0.6s, transform 0.6s;
			}
		}
	}
}

// Custom Tabs
.singleTab{
	.nav-links{
		cursor: pointer;
		background: transparent;
		border-top: 1px solid rgba(var(--n1, 1));
		&.active{
			border-top: 1px solid transparent;
			background: rgba(var(--s2, 1));
		}
	}
	.tabContents {
		position: relative;
		.tabItem {
			transform: translateY(100px);
			position: absolute;
			z-index: -1;
			top: 0;
			width: 100%;
			opacity: 0;
			transition: 0.8s all;
			&.active {
				position: initial;
				z-index: 1;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

// Pagination
.pagination{
	li a{
		color: rgba(var(--n1), 1);
	}
	.page-item{
		.page-link{
			outline: none;
			bottom: 0;
			padding: 0;
			width: 40px;
			height: 40px;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			border-radius: 5px;
			z-index: 999;
			&:hover, &.active, &:focus{
				background-color: rgba(var(--p1), 1);
				border-color: transparent;
				box-shadow: none;
			}
		}
	}
}

// breadcrumb
.breadcrumb-area {
    .breadcrumb {
		row-gap: 8px;
        a, span{
            color: rgba(var(--s1), 1);
            font-size: 16px;
            font-weight: 500;
			@include maxQuery(991){
				font-size: 16px;
			}
        }
        .breadcrumb-item+.breadcrumb-item{
            position: relative;
        }
        .breadcrumb-item+.breadcrumb-item::before {
            content: "\f31c";
            font-family: "Phosphor";
            z-index: 1;
            position: absolute;
            left: 0;
            font-size: 18px;
            color: rgba(var(--s1), 1);
        }
	}
}

// checkbox-single
.checkbox-single {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		left: 0;
		height: 16px;
		width: 16px;
		border-radius: 5px;
		border: 1px solid rgba(var(--n1), 0.4);
		&::after {
			content: "";
		}
	}
	input:checked ~ .checkmark {
		&::after {
			content: "\f33e";
			position: absolute;
            font-family: 'Phosphor';
		}
	}
	input:checked ~ .checkmark:after {
		display: block;
	}
}

// Single switch
.switch-wrapper{
	.switch {
		position: relative;
		display: inline-block;
		width: 48px;
		height: 24px;
	}
	.slider {
		cursor: pointer;
		background-color: rgba(var(--p1), 1);
		border-radius: 30px;
	}
	.slider:before {
		position: absolute;
		content: "";
		@include box(20);
		border-radius: 50%;
		background-color: rgba(var(--s1), 1);
		transition: var(--transition);
		transform: translateX(-12px);
	}
	input:checked + .slider {
		background-color: rgba(var(--p1), 1);
	}
	input:focus + .slider {
		box-shadow: 0 0 1px rgba(var(--p1), 1);
	}
	input:checked + .slider:before {
		transform: translateX(12px);
	}
}

// select2
.select2{
	width: 100% !important;
	.select2-selection{
		padding: inherit;
		height: initial;
		background-color: inherit;
		border: inherit;
		&:focus-within, &:focus-visible{
			border: inherit;
		}
		.select2-selection__rendered{
			padding: 0;
		}
	}
	.select2-selection__arrow{
		height: 100% !important;
		display: flex;
		align-items: center;
		justify-content: center;
		b{
			display: none;
		}
		&:after {
			content: '';
			position: absolute;
			border-bottom: 2px solid;
			border-right: 2px solid;
			border-color: rgba(var(--n1, 1));
			right: 0;
			height: 10px;
			width: 10px;
			transform: rotate(45deg);
			transition: var(--transition);
		}
	}
	&.select2-container--open{
		.select2-selection__arrow{
			&::after{
				transform: rotate(230deg);
			}
		}
	}
	.select2-selection__clear{
		display: none;
	}
}
span{
	transition: none;
}
.select2-results{
	li{
		color: rgba(var(--n1), 1);
		&:hover, &.select2-results__option--highlighted, &.select2-results__option--selected{
			background-color: rgba(var(--p1), 1) !important;
			color: rgba(var(--s2), 1) !important;
		}
	}
}
.select2-dropdown{
	input{
		background-color: rgba(var(--s2), 1);
	}
}

// Single Radio
.single-radio {
	cursor: pointer;
	user-select: none;
	position: relative;
	&:hover input ~ .checkmark {
		background-color: transparent;
	}
	.checkmark {
		position: absolute;
		left: 0;
		@include box(28);
		border: 1px solid rgba(var(--p1), 0.1);
		&::after {
			content: "";
			font-size: 20px;
			position: absolute;
		}
	}
	input:checked ~ .checkmark {
		background-color: rgba(var(--n1), 1);
		&::after {
			content: "\f33e";
			display: block;
			color: rgba(var(--p1), 1);
			font-family: 'Phosphor';
		}
	}
}

// swiper slider btn
.slider-btn {
	top: calc(50% - 5px);
	z-index: 5;
	button{
		@include box(48);
		border: 1px solid rgba(var(--n1, 1));
		&:before {
			content: "";
			position: absolute;
			width: 48px;
			height: 1px;
			right: 48%;
			background-color: rgba(var(--n1, 1));
			transition: var(--transition);
		}
		&.ara-prev{
			&::before{
				right: initial;
				left: 48%;
			}
		}
		&:hover{
			border-color: rgba(var(--p1, 1));
			i{
				color: rgba(var(--p1, 1));
			}
			&::before{
				width: 40px;
				background-color: rgba(var(--p1, 1));
			}
		}
		@include maxQuery(991){
			@include box(35);
			&:before {
				width: 40px;
				right: 40%;
			}
			&.ara-prev{
				&::before{
					right: initial;
					left: 40%;
				}
			}
		}
		&.second{
			&:before {
				height: 48px;
				width: 1px;
				bottom: 48%;
			}
			&.ara-prev{
				&::before{
					right: initial;
					left: initial;
					top: 48%;
				}
			}
			&:hover{
				&::before{
					height: 40px;
				}
			}
			@include maxQuery(991){
				&:before {
					height: 40px;
					bottom: 40%;
				}
				&.ara-prev{
					&::before{
						right: initial;
						left: initial;
						top: 40%;
					}
				}
			}
		}
		&.third{
			@include box(48);
			border: 1px solid rgba(var(--s1, 1));
			&:before {
				width: 56px;
				right: 48%;
				background-color: rgba(var(--s1, 1));
			}
			&.ara-prev{
				&::before{
					right: initial;
					left: 48%;
				}
			}
			&:hover{
				border-color: rgba(var(--p1, 1));
				i{
					color: rgba(var(--p1, 1));
				}
				&::before{
					width: 44px;
					background-color: rgba(var(--p1, 1));
				}
			}
		}
	}
}

// qtySelector
.qtySelector{
	border-radius: 10px;
	i{
		cursor: pointer;
		color: rgba(var(--s1), 1);
		min-width: 32px;
		min-height: 32px;
		border-radius: 50%;
		background-color: rgba(var(--p1), 1);
	}
	.qtyValue{
		border: none;
		padding: 5px;
		width: 50px;
		background: transparent;
		font-weight: bold;
		color: rgba(var(--s1), 1);
	}
	&.second{
		.qtyValue{
			color: rgba(var(--p2, 1));
		}
	}
}

// slider pagination
.slider-pagination{
	span{
		background: transparent;
		color: rgba(var(--s1), 1);
		opacity: 1;
		width: initial;
		height: initial;
		font-size: inherit;
		line-height: inherit;
		border-radius: 0;
		&.swiper-pagination-bullet-active{
			border-bottom: 1px solid rgba(var(--s1), 1);
			background: transparent;
		}
	}
}

// Input Area
.input-area {
	background: rgba(var(--s1), 1);
	border: 1px solid transparent;
    &:focus-within {
        border: 1px solid rgba(var(--p1), 1) !important;
    }
    input,
    textarea {
        border-radius: 0;
        padding: 0;
        border: none;
		outline: none;
        background: transparent;
        &::placeholder {
            color: rgba(var(--n1), 0.6);
        }
    }
    &.second {
		background-color: rgba(var(--s2), 1);
        border: 1px solid transparent;
		&:focus-within {
			border: 1px solid rgba(var(--s1), 1);
		}
        input, textarea {
            font-size: 16px;
			color: rgba(var(--n1), 1);
			&::placeholder {
				color: rgba(var(--n1), 0.4);
			}
        }
    }
    &.third {
		background-color: rgba(var(--p1), 1);
        border: 1px solid transparent;
		&:focus-within {
			border: 1px solid rgba(var(--s1), 1);
		}
        input, textarea {
            font-size: 16px;
			color: rgba(var(--s1), 1);
			background-color: rgba(var(--p1), 1);
			&::placeholder {
				color: rgba(var(--s1), 0.4);
			}
        }
    }
    &.fourth {
		background-color: rgba(var(--p1), 1);
        border: 1px solid transparent;
		&:focus-within {
			border: 1px solid rgba(var(--s1), 1);
		}
        input, textarea {
            font-size: 16px;
			color: rgba(var(--s1), 1);
			background-color: rgba(var(--p1), 1);
			&::placeholder {
				color: rgba(var(--s1), 0.4);
			}
        }
    }
    &.fifth {
		background-color: transparent;
        border-bottom: 1px solid rgba(var(--p2), 0.2);
		&:focus-within {
			border-color: transparent !important;
			border-bottom: 1px solid rgba(var(--p1), 1) !important;
		}
        input, textarea {
            font-size: 16px;
			color: rgba(var(--p2), 1);
			background-color: transparent;
			&::placeholder {
				color: rgba(var(--p2), 0.4);
			}
        }
    }
}

.cus-row{
	.col-8, .col-9{
		@include maxQuery(470){
			width: 100% !important;
		}
	}
}

// Animation Start 
@keyframes marqueeRtL {
	0% { 
		right: 0; 
	}
	100% { 
		right: -100%; 
	}
}
@keyframes marquee {
	0% { 
		left: 0; 
	}
	100% { 
		left: -100%; 
	}
}

@keyframes run {
    0% {
        left: 0%;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 5%;    
    }
}

@keyframes run2 {
    0% {
        top: 0%;
    }
    50% {
        top: 90%;
    }
    100% {
        top: 5%;    
    }
}

@keyframes waves {
	0% {
		transform: scale(1);
		opacity: 1;
	  }
	  100% {
		transform: scale(1.6);
		opacity: 0;
	  }
}

@keyframes fadeIn2nd {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes loading {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(180deg);
	  transform: rotate(180deg);
	}
}