//Contact Style
.live-location-item{
    border: 1px solid rgba(0, 0, 0, 0.10);
    p{
        max-width: 214px;
        margin:  0 auto;
    }
    a{
        &:hover{
            color: var(--p1);
        }
    }
}

.main-contact{
    textarea,
    input{
        width: 100%;
        background: var(--n0);
        outline: none;
        border: unset;
    }
}