// default font family
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

// default root
:root {
	--body-font: 'Inter', sans-serif;
	--head-font: 'Playfair Display', serif;

	--transition: all 0.5s ease-in-out;
	--transition-sec: all 1.8s ease-in-out;

	/* Color styles */
	--p1: 221, 66, 66;
	--p2: 60, 104, 255;

	--s1: 0, 0, 0;
	--s2: 52, 52, 52;
	--s3: 37, 44, 63;
	--s4: 33, 33, 33;
	
	--n1: 255, 255, 255;
	--n2: 207, 207, 207;

	--gradient-p1: linear-gradient(90deg, rgba(12, 169, 64, 0.08) 0.68%, rgba(236, 88, 88, 0.08) 100%);
	--box-shadow-p1: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
}