.footer-section{
    .single-box{
        ul{
            column-count: 2;
            li{
                overflow: hidden;
                padding-top: 8px;
            }
        }
    }
    .social-areas{
        a{
            @include box(50);
            @include maxQuery(767){
                @include box(35);
            }
            i{
                color: rgba(var(--p2), 1);
            }
            &:hover{
                i{  
                    color: rgba(var(--n1), 1);
                }
            }
        }
    }
    .footer-links{
        a{
            position: relative;
            display: flex;
            align-items: center;
            transition: var(--transition);
            &::before {
                content: '\ea65';
                font-family: "tabler-icons";
                z-index: 1;
                position: absolute;
                color: rgba(var(--p2), 1);
                left: -30px;
                font-size: 24px;
                transition: var(--transition);
            }
            &:hover{
                padding-left: 20px;
                color: rgba(var(--p2), 1);
                &::before {
                    left: -5px;
                }
            }
        }
    }
    .footer-bottom {
        background-color: #1C2A2E;
    }
    .col-5, .col-7{
        @include maxQuery(480){
            width: 100% !important;
        }
    }
}









