<!-- call to action section start -->
<section class="call-to-action">
    <div class="container" data-aos="fade-down">
        <div
            class="row g-6 justify-content-between pt-120 pb-120 px-xl-15 px-lg-10 px-md-6 bg-primary radius-lg mt-0 position-relative z-1">
            <div class="col-lg-7">
                <div class="bg-flowers position-absolute top-0 start-0 z-n1 no-pointer-events">
                    <img src="assets/images/flowers.png" alt="flower">
                </div>
                <h2 class="text-h1 text-n0">
                    Subscribe To Our Monthly Email Newsletter!
                </h2>
            </div>
            <div class="col-lg-5">
                <form action="#">
                    <div class="d-flex align-items-center gap-2 p-3 ps-lg-8 ps-md-6 bg-secondary rounded-pill">
                        <input type="email" class="w-100 text-n50 fw-medium placeholder-n50"
                            placeholder="Enter Your Email Address">
                        <button type="submit" class="btn-secondary alt-color">Subscribe</button>
                    </div>
                </form>
                <p class="text-n0 mt-lg-6 mt-4">
                    Join us and give your help  in the efforts to support our communities in need so everybody
                    have a decent life.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- call to action section end -->