<!-- footer section start -->
<section class="footer-section z-1">
    <div class="container">
        <div class="footer-top pt-100 pb-100">
            <div class="row g-6">
                <div class="col-lg-3 col-sm-6" data-aos="fade-up">
                    <div class="footer-logo mb-4">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <p class="mb-lg-6 mb-4 text-n0 me-10">
                        No one knows what an equitable world looks like. We are working together with only hope for
                        raising.
                    </p>
                    <a href="donate.html" class="btn-primary hover-primary">Donate Now
                        <span><i class="ph ph-arrow-up-right"></i></span>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-6" data-aos="fade-up">
                    <h4 class="title text-n0 mb-lg-6 mb-4">Menu</h4>
                    <ul class="footer-list d-grid gap-4 text-n0">
                        <li><a href="index.html" class="link-btn">Home</a></li>
                        <li><a href="about-us.html" class="link-btn">About Us</a></li>
                        <li><a href="event.html" class="link-btn">Events</a></li>
                        <li><a href="donate.html" class="link-btn">Donate</a></li>
                        <li><a href="contact-us.html" class="link-btn">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                    <h4 class="title text-n0 mb-lg-6 mb-4">Trending Post</h4>
                    <ul class="trending-post d-grid gap-4">
                        <li class="trending-post-item d-flex align-items-center gap-lg-5 gap-3">
                            <div class="trending-post-img">
                                <img class="w-100 radius-sm" src="assets/images/trending-post-1.png"
                                    alt="trending-post">
                            </div>
                            <div>
                                <a href="event-details.html" class="title text-h5 mb-lg-4 mb-2 text-n0 link-btn">Child
                                    Care
                                    Centers
                                </a>
                                <div class="d-grid">
                                    <div class="progress-bar-wrap mb-1">
                                        <div class="progress_bar-2">
                                            <div data-value="100%" class="progress-bar-inner">
                                            </div>
                                        </div>
                                    </div>
                                    <span class="text-n0">100% DONATION</span>
                                </div>
                            </div>
                        </li>
                        <li class="trending-post-item d-flex align-items-center gap-lg-5 gap-3">
                            <div class="trending-post-img">
                                <img class="w-100 radius-sm" src="assets/images/trending-post-2.png"
                                    alt="trending-post">
                            </div>
                            <div>
                                <a href="event-details.html"
                                    class="title text-h5 mb-lg-4 mb-2 text-n0 link-btn">Education Needed
                                </a>
                                <div class="d-grid">
                                    <div class="progress-bar-wrap mb-1">
                                        <div class="progress_bar-2">
                                            <div data-value="40%" class="progress-bar-inner">
                                            </div>
                                        </div>
                                    </div>
                                    <span class="text-n0">40% DONATION</span>
                                </div>
                            </div>
                        </li>
                        <li class="trending-post-item d-flex align-items-center gap-lg-5 gap-3">
                            <div class="trending-post-img">
                                <img class="w-100 radius-sm" src="assets/images/trending-post-3.png"
                                    alt="trending-post">
                            </div>
                            <div>
                                <a href="event-details.html" class="title text-h5 mb-lg-4 mb-2 text-n0 link-btn">Save
                                    Chelid Africa
                                </a>
                                <div class="d-grid">
                                    <div class="progress-bar-wrap mb-1">
                                        <div class="progress_bar-2">
                                            <div data-value="50%" class="progress-bar-inner">
                                            </div>
                                        </div>
                                    </div>
                                    <span class="text-n0">50% DONATION</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up">
                    <h4 class="title text-n0 mb-lg-6 mb-4">Contact Us</h4>
                    <ul class="footer-list d-grid gap-lg-5 gap-3 text-n0 mb-lg-6 mb-4">
                        <li>
                            <a href="#" class="d-flex gap-2 link-btn">
                                <span class="text-2xl">
                                    <i class="ph-fill ph-map-pin"></i>
                                </span>
                                <span>21 Valentin Paterson Road 24, London</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:UZbq7@example.com" class="d-flex gap-2 link-btn">
                                <span class="text-2xl">
                                    <i class="ph-fill ph-envelope-simple-open"></i>
                                </span>
                                <span>UZbq7@example.com</span></a>
                        </li>
                        <li>
                            <a href="tel:+2348101234567" class="d-flex gap-2 link-btn">
                                <span class="text-2xl">
                                    <i class="ph-fill ph-phone-call"></i>
                                </span>
                                <span>+2348101234567</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="social-list-2 d-flex align-items-center gap-2">
                        <li><a href="" class="text-xl"><i class="ph-fill ph-facebook-logo"></i></a></li>
                        <li><a href="" class="text-xl"><i class="ph-fill ph-twitter-logo"></i></a></li>
                        <li><a href="" class="text-xl"><i class="ph-fill ph-linkedin-logo"></i></a></li>
                        <li><a href="" class="text-xl"><i class="ph-fill ph-instagram-logo"></i></a></li>
                        <li><a href="" class="text-xl"><i class="ph-fill ph-youtube-logo"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="d-block border n0-border_15"></span>
    <div class="footer-bottom container py-lg-6 py-4">
        <span class="d-block text-center text-n0">
            Copyright <span class="currentYear"></span> <a href="index.html" class="link-btn">UnityAid</a>
            Theme, All Right
            Reserved
        </span>
    </div>
</section>
<!-- footer section end -->