<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Charity: Empowering Lives through Generosity and Support">
    <meta name="description"
        content="Charity is a platform dedicated to helping those in need. Join us in making a difference by donating, volunteering, and spreading hope to impoverished communities. Together, we can create a brighter future for everyone.">
    <meta name="keywords"
        content="charity, helping poor, donations, volunteer, community support, poverty alleviation, non-profit, philanthropic organization, social impact, aid, humanitarian efforts">
    <meta name="author" content="Your Name or Your Organization's Name">

    <title>Charity: Empowering Lives through Generosity and Support</title>
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">

</head>