<!-- testimonials section start  -->
<section class="testimonial-section pt-120 pb-120">
    <div class="container">
        <div class="row g-6 justify-content-between align-items-end mb-lg-15 mb-md-10 mb-8">
            <div class="col-xl-5 col-lg-6 col-md-9" data-aos="fade-right">
                <span class="subtitle d-block fw-semibold text-secondary2 mb-3">TESTIMONIALS</span>
                <h2 class="title text-h1">Happiness in Every Neighborhood</h2>
            </div>
            <div class="col-xl-2 col-md-3 text-md-end p-md-0" data-aos="fade-left">
                <a href="donate.html" class="btn-primary hover-primary">Donate Now
                    <span><i class="ph ph-arrow-up-right"></i></span></a>
            </div>
        </div>
        <div class="swiper ts-swiper" data-aos="fade-down">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ts-card radius-base overflow-hidden">
                        <div class="p-lg-8 p-md-6 p-4 pb-0 pb-md-0 pb-lg-0">
                            <div class="ts-card-img mx-auto mb-4">
                                <img class="w-100 radius-sm" src="assets/images/ts-client-1.png" alt="testimonial">
                            </div>
                            <div class="mb-lg-6 mb-4 text-center">
                                <span class="ts-title d-block text-lg fw-semibold">Korolina
                                    Hopman</span>
                                <span class="ts-subtitle d-block text-n40"><span class="text-secondary2">Kindness</span>
                                    Donations Officer</span>
                            </div>
                            <p class="ts-msg text-n40 text-center mb-lg-10 mb-md-8 mb-6">
                                "Thanks to Unityaid, my children now have access to quality
                                education and a brighter future. I'm forever grateful for the support they've
                                provided to our community."
                            </p>
                        </div>
                        <div class="ts-card-footer py-3 d-flex align-items-center justify-content-center bg-primary">
                            <ul class="d-flex align-items-center gap-2 text-secondary">
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ts-card radius-base overflow-hidden">
                        <div class="p-lg-8 p-md-6 p-4 pb-0 pb-md-0 pb-lg-0">
                            <div class="ts-card-img mx-auto mb-4">
                                <img class="w-100 radius-sm" src="assets/images/ts-client-2.png" alt="testimonial">
                            </div>
                            <div class="mb-lg-6 mb-4 text-center">
                                <span class="ts-title d-block text-lg fw-semibold">Kane Willamson</span>
                                <span class="ts-subtitle d-block text-n40"><span class="text-secondary2">Kindness</span>
                                    Donations Officer</span>
                            </div>
                            <p class="ts-msg text-n40 text-center mb-lg-10 mb-md-8 mb-6">
                                "Thanks to Unityaid, my children now have access to quality
                                education and a brighter future. I'm forever grateful for the support they've
                                provided to our community."
                            </p>
                        </div>
                        <div class="ts-card-footer py-3 d-flex align-items-center justify-content-center bg-primary">
                            <ul class="d-flex align-items-center gap-2 text-secondary">
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ts-card radius-base overflow-hidden">
                        <div class="p-lg-8 p-md-6 p-4 pb-0 pb-md-0 pb-lg-0">
                            <div class="ts-card-img mx-auto mb-4">
                                <img class="w-100 radius-sm" src="assets/images/ts-client-3.png" alt="testimonial">
                            </div>
                            <div class="mb-lg-6 mb-4 text-center">
                                <span class="ts-title d-block text-lg fw-semibold">David Warner</span>
                                <span class="ts-subtitle d-block text-n40"><span class="text-secondary2">Kindness</span>
                                    Donations Officer</span>
                            </div>
                            <p class="ts-msg text-n40 text-center mb-lg-10 mb-md-8 mb-6">
                                "Thanks to Unityaid, my children now have access to quality
                                education and a brighter future. I'm forever grateful for the support they've
                                provided to our community."
                            </p>
                        </div>
                        <div class="ts-card-footer py-3 d-flex align-items-center justify-content-center bg-primary">
                            <ul class="d-flex align-items-center gap-2 text-secondary">
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ts-card radius-base overflow-hidden">
                        <div class="p-lg-8 p-md-6 p-4 pb-0 pb-md-0 pb-lg-0">
                            <div class="ts-card-img mx-auto mb-4">
                                <img class="w-100 radius-sm" src="assets/images/ts-client-1.png" alt="testimonial">
                            </div>
                            <div class="mb-lg-6 mb-4 text-center">
                                <span class="ts-title d-block text-lg fw-semibold">Korolina
                                    Hopman</span>
                                <span class="ts-subtitle d-block text-n40"><span class="text-secondary2">Kindness</span>
                                    Donations Officer</span>
                            </div>
                            <p class="ts-msg text-n40 text-center mb-lg-10 mb-md-8 mb-6">
                                "Thanks to Unityaid, my children now have access to quality
                                education and a brighter future. I'm forever grateful for the support they've
                                provided to our community."
                            </p>
                        </div>
                        <div class="ts-card-footer py-3 d-flex align-items-center justify-content-center bg-primary">
                            <ul class="d-flex align-items-center gap-2 text-secondary">
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ts-card radius-base overflow-hidden">
                        <div class="p-lg-8 p-md-6 p-4 pb-0 pb-md-0 pb-lg-0">
                            <div class="ts-card-img mx-auto mb-4">
                                <img class="w-100 radius-sm" src="assets/images/ts-client-2.png" alt="testimonial">
                            </div>
                            <div class="mb-lg-6 mb-4 text-center">
                                <span class="ts-title d-block text-lg fw-semibold">Kane Willamson</span>
                                <span class="ts-subtitle d-block text-n40"><span class="text-secondary2">Kindness</span>
                                    Donations Officer</span>
                            </div>
                            <p class="ts-msg text-n40 text-center mb-lg-10 mb-md-8 mb-6">
                                "Thanks to Unityaid, my children now have access to quality
                                education and a brighter future. I'm forever grateful for the support they've
                                provided to our community."
                            </p>
                        </div>
                        <div class="ts-card-footer py-3 d-flex align-items-center justify-content-center bg-primary">
                            <ul class="d-flex align-items-center gap-2 text-secondary">
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ts-card radius-base overflow-hidden">
                        <div class="p-lg-8 p-md-6 p-4 pb-0 pb-md-0 pb-lg-0">
                            <div class="ts-card-img mx-auto mb-4">
                                <img class="w-100 radius-sm" src="assets/images/ts-client-3.png" alt="testimonial">
                            </div>
                            <div class="mb-lg-6 mb-4 text-center">
                                <span class="ts-title d-block text-lg fw-semibold">David Warner</span>
                                <span class="ts-subtitle d-block text-n40"><span class="text-secondary2">Kindness</span>
                                    Donations Officer</span>
                            </div>
                            <p class="ts-msg text-n40 text-center mb-lg-10 mb-md-8 mb-6">
                                "Thanks to Unityaid, my children now have access to quality
                                education and a brighter future. I'm forever grateful for the support they've
                                provided to our community."
                            </p>
                        </div>
                        <div class="ts-card-footer py-3 d-flex align-items-center justify-content-center bg-primary">
                            <ul class="d-flex align-items-center gap-2 text-secondary">
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                                <li><i class="ph-fill ph-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row gy-lg-0 gx-xl-0 g-6 justify-content-between align-items-center mt-6 bg-primary radius-base p-lg-9 p-md-6 p-4 position-relative z-1">
            <div class="col-lg-6 position-relative" data-aos="fade-left">
                <div class="ts-popup-banner">
                    <img class="w-100 radius-base" src="assets/images/ts-popup-banner.png" alt="banner">
                </div>
                <a href="https://www.youtube.com/watch?v=3UAS5KAYmkk"
                    class="popup-btn glightbox position-absolute top-50 start-50 translate-middle">
                    <span class="play-icon"><i class="ph-fill ph-play"></i></span>
                </a>
            </div>
            <div class="col-xl-5 col-lg-6" data-aos="fade-right">
                <span class="subtitle d-block fw-semibold text-secondary2 mb-3">INTRODUCING YOU
                    LOVELYACTS</span>
                <h2 class="title text-h1 text-n0 mb-lg-6 mb-4">We protect african children in need</h2>
                <a href="donate.html" class="btn-primary">Donate Now
                    <span><i class="ph ph-arrow-up-right"></i></span></a>
                <div class="bg-flowers position-absolute end-0 bottom-0 z-n1 no-pointer-events">
                    <img src="assets/images/flowers.png" alt="flower">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonials section end  -->