<!-- cta section start -->
<section class="cta-section my-3xl-20">
    <div class="container-fluid py-3xl-10 bg-primary2">
        <div class="our-work-img mt-10 ms-10 position-absolute d-none d-sm-block">
            <img class="w-100" src="./assets/images/vector-2.png" alt="vector">
        </div>
        <div class="container pt-120 pb-120">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-8">
                    <h2 class="display-four fw-bolder text-primary mb-lg-5 mb-3">
                        Need a Personalized Solution?
                    </h2>
                    <span class="d-block text-xl text-primary mb-lg-8 mb-6">
                        Get in touch with us, and we will help you to create the right one for your business or
                        personal needs.
                    </span>
                    <a href="#" class="small-btn alt-color">
                        Apply for a loan
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="banner-area">
                        <img class="w-100" src="assets/images/loan-banner.png" alt="loan banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta section end -->