<!-- Footer section start -->
<section class="footer-section pt-120 bg-primary4">
    <div class="container">
        <!-- lightbox -->
        <div class="light-box light-box-1"></div>
        <div class="light-box light-box-2"></div>
        <div class="row g-6 justify-content-between pb-100 border-bottom primary-border2_25">
            <div class="col-lg-5" data-aos="fade-left">
                <span class="display-four fw-bolder mb-lg-5 mb-3">
                    Our Newsletter
                </span>
                <span class="text-lg body-text">
                    Get instant news by subscribe to our daily newsletter
                </span>
            </div>
            <div class="col-lg-5" data-aos="fade-right">
                <form class="d-flex gap-3 justify-content-lg-end mb-lg-5 mb-3">
                    <input type="text" class="footer-input" placeholder="Enter your email">
                    <button type="submit" class="footer-btn text-2xl">
                        <i class="ti ti-arrow-right"></i>
                    </button>
                </form>
                <span class="body-text text-lg text-end d-block">Already subscribed? <a href="#"
                        class="text-n0 fw-bold">Unsubscribe</a></span>
            </div>
        </div>
        <div class="row g-6 justify-content-between pb-100 pt-100 border-bottom primary-border2_25" data-aos="fade-up">
            <div class="col-lg-4">
                <span class="text-h2">
                    Stay connect with anyone & anywhere
                </span>
            </div>
            <div class="col-lg-3">
                <span class="d-block mb-4 text-uppercase">WE IN SOCIAL</span>
                <div class="footer-social-icons d-flex gap-3">
                    <a href="#">
                        <i class="ti ti-brand-facebook-filled"></i>
                    </a>
                    <a href="#">
                        <i class="ti ti-brand-twitter-filled"></i>
                    </a>
                    <a href="#">
                        <i class="ti ti-brand-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="ti ti-brand-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="ti ti-brand-youtube-filled"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex gap-3 px-lg-0">
                    <a href="#" class="download-app">
                        <img class="w-100" src="assets/images/app-store-2.png" alt="download app">
                    </a>
                    <a href="#" class="download-app">
                        <img class="w-100" src="assets/images/play-store-2.png" alt="download app">
                    </a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-sm-row flex-column-reverse justify-content-between align-items-center py-lg-8 py-6">
            <span class="text-lg text-uppercase">© <span class="year"></span> . All rights reserved</span>
            <div class="d-flex gap-3">
                <a href="#" class="text-uppercase link-btn">Privacy</a>
                <a href="#" class="text-uppercase link-btn">TERMS OF SERVICES</a>
            </div>
        </div>
    </div>
</section>
<!-- Footer section end -->