<!-- how it work section start -->
<section class="how-it-work pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center mb-lg-20 mb-md-15 mb-10" data-aos="fade-up">
            <div class="col-lg-8 text-center">
                <h6 class="fw-bolder mb-5 text-primary2">Our Process</h6>
                <h2 class="display-four mb-lg-6 mb-4 fw-bolder">
                    Sign Up For A Bankko Account In 3 Simple Steps
                </h2>
                <p class="text-lg body-text">
                    Use Bankko to pay to a merchant by selecting it as a payment method on their website and enjoy
                    optimal payment user experience.
                </p>
            </div>
        </div>
        <div class="row g-6 justify-content-center justify-content-md-start">
            <div class="col-xl-4 col-md-6 col-sm-10" data-aos="fade-down">
                <div
                    class="how-it-work-card px-lg-8 px-md-6 px-4 py-lg-10 py-md-8 py-6 mt-lg-8 mt-4 position-relative radius-base">
                    <div class="count-number">
                        <span class="text-h3 text-primary">1</span>
                    </div>
                    <div class="d-grid gap-lg-10 gap-md-8 gap-6 mt-lg-10 mt-6">
                        <div class="banner-area">
                            <img class="w-100 h-100" src="assets/images/hiw-1.png" alt="how it work">
                        </div>
                        <div class="content-area d-grid gap-lg-5 gap-3">
                            <h4>Register an Account Online </h4>
                            <span class="body-text">
                                Download our Transwap app and key in the necessary information.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10" data-aos="fade-down">
                <div
                    class="how-it-work-card px-lg-8 px-md-6 px-4 py-lg-10 py-md-8 py-6 mt-lg-8 mt-4 position-relative radius-base">
                    <div class="count-number">
                        <span class="text-h3 text-primary">2</span>
                    </div>
                    <div class="d-grid gap-lg-10 gap-md-8 gap-6 mt-lg-10 mt-6">
                        <div class="banner-area">
                            <img class="w-100 h-100" src="assets/images/hiw-2.png" alt="how it work">
                        </div>
                        <div class="content-area d-grid gap-lg-5 gap-3">
                            <h4>Get Approved</h4>
                            <span class="body-text">
                                Hang on as we check your account details! approvals can
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-10" data-aos="fade-down">
                <div
                    class="how-it-work-card px-lg-8 px-md-6 px-4 py-lg-10 py-md-8 py-6 mt-lg-8 mt-4 position-relative radius-base">
                    <div class="count-number">
                        <span class="text-h3 text-primary">3</span>
                    </div>
                    <div class="d-grid gap-lg-10 gap-md-8 gap-6 mt-lg-10 mt-6">
                        <div class="banner-area">
                            <img class="w-100 h-100" src="assets/images/hiw-3.png" alt="how it work">
                        </div>
                        <div class="content-area d-grid gap-lg-5 gap-3">
                            <h4>Start Receiving Money</h4>
                            <span class="body-text">
                                You can now pay, receive, hold and convert money from anywhere
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- how it work section end -->