
<script src="assets/js/plugins/swiper.min.js"></script>
<script src="assets/js/plugins/matter.min.js"></script>
<script src="assets/js/plugins/aos@2.3.1-dist-aos.js"></script>
<script src="assets/js/plugins/jquery.min.js"></script>
<script src="assets/js/plugins/odometer.js"></script>
<script src="assets/js/plugins/viewport.js"></script>
<script src="assets/js/plugins/select2.min.js"></script>
<script src="assets/js/plugins/apexcharts.js"></script>
<script src="assets/js/matter-customize.js"></script>
<script src="assets/js/app.js"></script>