<!-- testimonials section start -->
<section class="testimonial-section">
    <div class="container  mb-lg-15 mb-md-10 mb-8">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center" data-aos="fade-up">
                <h6 class="fw-bolder mb-5 text-primary2">Testimonial</h6>
                <h2 class="display-four fw-bolder mb-lg-6 mb-4">
                    In the Words of Our Clients
                </h2>
                <p class="text-lg body-text">
                    Use Bankko to pay to a merchant by selecting it as a payment method on their website and enjoy
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="testimonial-slider-area" data-aos="flip-down">
            <div class="swiper testimonial-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card d-md-flex d-grid gap-lg-8 gap-6 px-xl-8 px-lg-6 px-4 py-lg-20 py-md-15 py-10 position-relative radius-base">
                            <div class="quote-icon position-absolute top-0 end-0 mt-3xl-5 mt-0 me-3xl-5 me-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="104" height="104" viewBox="0 0 104 104"
                                    fill="none">
                                    <path
                                        d="M60.6654 56.3333H77.9987C79.148 56.3333 80.2502 56.7899 81.0628 57.6025C81.8755 58.4152 82.332 59.5174 82.332 60.6667V73.6667C82.332 74.8159 81.8755 75.9181 81.0628 76.7308C80.2502 77.5435 79.148 78 77.9987 78H64.9987C63.8494 78 62.7472 77.5435 61.9346 76.7308C61.1219 75.9181 60.6654 74.8159 60.6654 73.6667V47.6667C60.6654 36.1097 66.4417 28.8903 77.9987 26M21.6654 56.3333H38.9987C40.148 56.3333 41.2502 56.7899 42.0628 57.6025C42.8755 58.4152 43.332 59.5174 43.332 60.6667V73.6667C43.332 74.8159 42.8755 75.9181 42.0628 76.7308C41.2502 77.5435 40.148 78 38.9987 78H25.9987C24.8494 78 23.7472 77.5435 22.9346 76.7308C22.1219 75.9181 21.6654 74.8159 21.6654 73.6667V47.6667C21.6654 36.1097 27.4417 28.8903 38.9987 26"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="ts-thumb overflow-hidden">
                                <img class="w-100" src="assets/images/ts-thumb-1.png" alt="user">
                            </div>
                            <div class="ts-content">
                                <span class="text-h4 mb-lg-5 mb-3">Financial Decision-Making</span>
                                <span class="body-text d-block mb-lg-10 mb-md-8 mb-6">
                                    Choosing Bankko was the best decision for my financial planning. The expert
                                    guidance provided by their team empowered me to make informed decisions,
                                </span>
                                <div class="d-grid gap-1">
                                    <span class="text-xl">
                                        David Warner
                                    </span>
                                    <span class="text-sm">
                                        CEO of Johnson Inc
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card d-md-flex d-grid gap-lg-8 gap-6 px-xl-8 px-lg-6 px-4 py-lg-20 py-md-15 py-10 position-relative radius-base">
                            <div class="quote-icon position-absolute top-0 end-0 mt-3xl-5 mt-0 me-3xl-5 me-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="104" height="104" viewBox="0 0 104 104"
                                    fill="none">
                                    <path
                                        d="M60.6654 56.3333H77.9987C79.148 56.3333 80.2502 56.7899 81.0628 57.6025C81.8755 58.4152 82.332 59.5174 82.332 60.6667V73.6667C82.332 74.8159 81.8755 75.9181 81.0628 76.7308C80.2502 77.5435 79.148 78 77.9987 78H64.9987C63.8494 78 62.7472 77.5435 61.9346 76.7308C61.1219 75.9181 60.6654 74.8159 60.6654 73.6667V47.6667C60.6654 36.1097 66.4417 28.8903 77.9987 26M21.6654 56.3333H38.9987C40.148 56.3333 41.2502 56.7899 42.0628 57.6025C42.8755 58.4152 43.332 59.5174 43.332 60.6667V73.6667C43.332 74.8159 42.8755 75.9181 42.0628 76.7308C41.2502 77.5435 40.148 78 38.9987 78H25.9987C24.8494 78 23.7472 77.5435 22.9346 76.7308C22.1219 75.9181 21.6654 74.8159 21.6654 73.6667V47.6667C21.6654 36.1097 27.4417 28.8903 38.9987 26"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="ts-thumb overflow-hidden">
                                <img class="w-100" src="assets/images/ts-thumb-2.png" alt="user">
                            </div>
                            <div class="ts-content">
                                <span class="text-h4 mb-lg-5 mb-3">Tailored Solutions that Deliver Results</span>
                                <span class="body-text d-block mb-lg-10 mb-md-8 mb-6">
                                    I can't thank Bankko enough for their personalized approach to financial
                                    solutions. Their tailored strategies addressed my unique needs, and the results
                                    exceeded.
                                </span>
                                <div class="d-grid gap-1">
                                    <span class="text-xl">
                                        Harry Brook
                                    </span>
                                    <span class="text-sm">
                                        HR Manager
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card d-md-flex d-grid gap-lg-8 gap-6 px-xl-8 px-lg-6 px-4 py-lg-20 py-md-15 py-10 position-relative radius-base">
                            <div class="quote-icon position-absolute top-0 end-0 mt-3xl-5 mt-0 me-3xl-5 me-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="104" height="104" viewBox="0 0 104 104"
                                    fill="none">
                                    <path
                                        d="M60.6654 56.3333H77.9987C79.148 56.3333 80.2502 56.7899 81.0628 57.6025C81.8755 58.4152 82.332 59.5174 82.332 60.6667V73.6667C82.332 74.8159 81.8755 75.9181 81.0628 76.7308C80.2502 77.5435 79.148 78 77.9987 78H64.9987C63.8494 78 62.7472 77.5435 61.9346 76.7308C61.1219 75.9181 60.6654 74.8159 60.6654 73.6667V47.6667C60.6654 36.1097 66.4417 28.8903 77.9987 26M21.6654 56.3333H38.9987C40.148 56.3333 41.2502 56.7899 42.0628 57.6025C42.8755 58.4152 43.332 59.5174 43.332 60.6667V73.6667C43.332 74.8159 42.8755 75.9181 42.0628 76.7308C41.2502 77.5435 40.148 78 38.9987 78H25.9987C24.8494 78 23.7472 77.5435 22.9346 76.7308C22.1219 75.9181 21.6654 74.8159 21.6654 73.6667V47.6667C21.6654 36.1097 27.4417 28.8903 38.9987 26"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="ts-thumb overflow-hidden">
                                <img class="w-100" src="assets/images/ts-thumb-3.png" alt="user">
                            </div>
                            <div class="ts-content">
                                <span class="text-h4 mb-lg-5 mb-3">Expertise Beyond Expectations</span>
                                <span class="body-text d-block mb-lg-10 mb-md-8 mb-6">
                                    Bankko goes above and beyond. The expertise of their financial advisors
                                    surpassed my expectations. The strategic insights provided were invaluable in
                                    navigating comple.
                                </span>
                                <div class="d-grid gap-1">
                                    <span class="text-xl">
                                        Anald Donald
                                    </span>
                                    <span class="text-sm">
                                        Owner of kim
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="testimonial-card d-md-flex d-grid gap-lg-8 gap-6 px-xl-8 px-lg-6 px-4 py-lg-20 py-md-15 py-10 position-relative radius-base">
                            <div class="quote-icon position-absolute top-0 end-0 mt-3xl-5 mt-0 me-3xl-5 me-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="104" height="104" viewBox="0 0 104 104"
                                    fill="none">
                                    <path
                                        d="M60.6654 56.3333H77.9987C79.148 56.3333 80.2502 56.7899 81.0628 57.6025C81.8755 58.4152 82.332 59.5174 82.332 60.6667V73.6667C82.332 74.8159 81.8755 75.9181 81.0628 76.7308C80.2502 77.5435 79.148 78 77.9987 78H64.9987C63.8494 78 62.7472 77.5435 61.9346 76.7308C61.1219 75.9181 60.6654 74.8159 60.6654 73.6667V47.6667C60.6654 36.1097 66.4417 28.8903 77.9987 26M21.6654 56.3333H38.9987C40.148 56.3333 41.2502 56.7899 42.0628 57.6025C42.8755 58.4152 43.332 59.5174 43.332 60.6667V73.6667C43.332 74.8159 42.8755 75.9181 42.0628 76.7308C41.2502 77.5435 40.148 78 38.9987 78H25.9987C24.8494 78 23.7472 77.5435 22.9346 76.7308C22.1219 75.9181 21.6654 74.8159 21.6654 73.6667V47.6667C21.6654 36.1097 27.4417 28.8903 38.9987 26"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="ts-thumb overflow-hidden">
                                <img class="w-100" src="assets/images/ts-thumb-4.png" alt="user">
                            </div>
                            <div class="ts-content">
                                <span class="text-h4 mb-lg-5 mb-3">Responsive and Client-Centric</span>
                                <span class="body-text d-block mb-lg-10 mb-md-8 mb-6">
                                    What sets Bankko apart is their commitment to client satisfaction. The team is
                                    not only knowledgeable but also incredibly responsive. They genuinely care about
                                    their clients,
                                </span>
                                <div class="d-grid gap-1">
                                    <span class="text-xl">
                                        Andrew Russel
                                    </span>
                                    <span class="text-sm">
                                        Ceo of Wright Enterprise
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonials section end -->