<!-- work with brand section start  -->
<section class="work-with-brand pt-120 pb-120">
    <div class="container">
        <div class="work-with-brand-wrapper d-flex" data-aos="fade-up">
            <div class="work-with-content py-lg-15 py-10 my-auto">
                <span class="text-xl text-uppercase fw-medium">
                    WORKED WITH
                    GLOBAL LARGEST
                    BRANDS
                </span>
            </div>
            <div class="brand-slider-area py-lg-15 py-10 ps-lg-20 ps-md-15 ps-10">
                <div class="swiper brand-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-1.png" alt="brand img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-2.png" alt="brand img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-3.png" alt="brand img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-4.png" alt="brand img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-1.png" alt="brand img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-2.png" alt="brand img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-3.png" alt="brand img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-img">
                                <img src="assets/images/brand-4.png" alt="brand img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- work with brand section end  -->