<!-- why choose us section start -->
<section class="section-blur why-choose-us-section pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-lg-8 col-sm-10 text-center">
                <div class="mb-lg-8 mb-6">
                    <span class="text-animation-word d-block text-secondary text-xl font-playwrite text-nowrap mb-4">Why
                        Choose Us</span>
                    <h2 class="text-animation-line display-four text-n0 mb-5 fw-bold">
                        Experience the Difference with Traveloo
                    </h2>
                </div>
                <a href="#testimonial-section" class="icon-box-70 mx-auto bg-primary text-n0 text-2xl">
                    <i class="ph ph-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- why choose us section end -->

<!-- testimonial section start  -->
<section class="section-blur testimonial-section pb-120 overflow-visible" id="testimonial-section">
    <div class="container">
        <div
            class="feature-card d-flex align-items-center justify-content-between gap-4 flex-wrap flex-sm-nowrap bg-n0 z-3">
            <div class="d-grid gap-2 text-center">
                <div class="icon mx-auto text-center">
                    <img src="assets/images/book.png" alt=" img">
                </div>
                <span class="text-2xl fw-semibold text-n100 text-uppercase">INSTANT BOOKING</span>
            </div>
            <span class="separator-v-100px bg-n75 opacity-25 d-sm-block d-none"></span>
            <div class="d-grid gap-2 text-center">
                <div class="icon mx-auto text-center">
                    <img src="assets/images/pickup.png" alt=" img">
                </div>
                <span class="text-2xl fw-semibold text-n100 text-uppercase">PICKUP AND DROP</span>
            </div>
            <span class="separator-v-100px bg-n75 opacity-25 d-sm-block d-none"></span>
            <div class="d-grid gap-2 text-center">
                <div class="icon mx-auto text-center">
                    <img src="assets/images/professional.png" alt=" img">
                </div>
                <span class="text-2xl fw-semibold text-n100 text-uppercase">PROFESSIONAL TOURIST GUIDES</span>
            </div>
            <span class="separator-v-100px bg-n75 opacity-25 d-sm-block d-none"></span>
            <div class="d-grid gap-2 text-center">
                <div class="icon mx-auto text-center">
                    <img src="assets/images/price.png" alt=" img">
                </div>
                <span class="text-2xl fw-semibold text-n100 text-uppercase">FRIENDLY PRICE</span>
            </div>
        </div>
        <div class="row g-6 justify-content-between align-items-center overflow-hidden">
            <div class="col-md-6">
                <div class="mb-lg-6 mb-4">
                    <span
                        class="text-animation-word d-block text-secondary text-xl font-playwrite text-nowrap mb-4">Testimonials</span>
                    <h2 class="text-animation-line display-four text-n100 mb-5 fw-bold">
                        Here is What Our Client's Have to Say
                    </h2>
                </div>
                <div class="swiper testimonial-swiper">
                    <div class="swiper-wrapper mb-lg-10 mb-md-8 mb-6">
                        <div class="swiper-slide">
                            <p class="text-2xl fw-semibold text-n75 mb-lg-6 mb-4">
                                Working with Creative.AG was a transformative experience. Their creativity
                                and professionalism exceeded our expectations.
                            </p>
                            <span class="text-2xl fw-semibold text-n100">
                                @David warner
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <p class="text-2xl fw-semibold text-n75 mb-lg-6 mb-4">
                                Working with Creative.AG was a transformative experience. Their creativity
                                and professionalism exceeded our expectations.
                            </p>
                            <span class="text-2xl fw-semibold text-n100">
                                @David warner
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <p class="text-2xl fw-semibold text-n75 mb-lg-6 mb-4">
                                Working with Creative.AG was a transformative experience. Their creativity
                                and professionalism exceeded our expectations.
                            </p>
                            <span class="text-2xl fw-semibold text-n100">
                                @David warner
                            </span>
                        </div>
                        <div class="swiper-slide">
                            <p class="text-2xl fw-semibold text-n75 mb-lg-6 mb-4">
                                Working with Creative.AG was a transformative experience. Their creativity
                                and professionalism exceeded our expectations.
                            </p>
                            <span class="text-2xl fw-semibold text-n100">
                                @David warner
                            </span>
                        </div>
                    </div>
                    <div class="swiper-btn d-flex">
                        <button class="prev-btn testi-prev text-2xl">
                            <i class="ph ph-arrow-left"></i>
                        </button>
                        <button class="next-btn testi-next text-2xl">
                            <i class="ph ph-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 position-relative ps-10">
                <div class="rating-card bg-n0 position-absolute start-0 top-50">
                    <div class="card-content py-lg-6 py-4 px-xl-15 px-lg-10 px-6">
                        <span
                            class="display-two odometer fw-bold text-n100 d-flex align-items-center justify-content-center"
                            data-odometer-final="4.8"></span>
                        <ul class="d-flex gap-1 align-items-center justify-content-center text-xl text-primary">
                            <li><i class="ph-fill ph-star"></i></li>
                            <li><i class="ph-fill ph-star"></i></li>
                            <li><i class="ph-fill ph-star"></i></li>
                            <li><i class="ph-fill ph-star"></i></li>
                            <li><i class="ph-fill ph-star"></i></li>
                        </ul>
                        <span class="d-block text-xl fw-semibold text-n100 text-center">
                            2488 Reviews
                        </span>
                    </div>
                    <div class="py-2 bg-primary text-center">
                        <img class="card-img" src="assets/images/trustpilot-1.png" alt="trust pilot">
                    </div>
                </div>
                <div class="ps-lg-20 ps-md-10">
                    <img class="w-100" src="assets/images/testimonial-img.png" alt="destination">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section end  -->