//Progress Bar
.progress_bar_item{
    .item_bar{
        background: var(--p3);
        border-radius: 100px;
        height: 11px;
        .progress{
            border-radius: 100px;
            background: var(--p1);
            height: 11px;
        }
    }
}
//Progress Bar