// Testimonia Style
.testimonial-item01{
    transition: all 0.4s;
   &:hover{
    .ratting{
        i{
            color: var(--n0) !important;
        }
    }
    h4,p,span{
        color: var(--n0);
    }
    background: var(--p1);
    .pra-border{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
   }
}
.pra-border{
    border-bottom: 1px solid rgba(61, 66, 47, 0.2);
}
.testimonial-video-item{
    .testi-vid{
        @include box(120);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        i{
            font-size: 32px;
            color: var(--n50);
        }
    }
    @include maxQuery(1399){
        .testi-vid{
            @include box(60);
            i{
                font-size: 22px;
            }
        }
    }
}
// Testimonia Style

// Comfortable
.comfortable-section{
    z-index: 1;
    background: url(../../assets/images/banner/fomfortable-action.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 260px 0;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.504);
        mix-blend-mode: hard-light;
        z-index: -1;
    }
    @include maxQuery(1399){
        padding: 180px 0;
    }
    @include maxQuery(1199){
        padding: 120px 0;
    }
    @include maxQuery(991){
        padding: 90px 0;
    }
}
// Comfortable

// Contact Better 
.contact-better-section{
    background: url(../../assets/images/banner/contact-betterbg.png) no-repeat center center;
    background-size: cover;
    z-index: 1;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(219, 214, 214, 0.59);
        mix-blend-mode: hard-light;
        z-index: -1;
        opacity: 0;
        @include maxQuery(1399){
            opacity: 1;
        }
    }
}
.contact-better-content{
    max-width: 400px;
    margin: 0 auto;
    .better-line{
        width: 1px;
        height: 144px;
        border-left: 1px solid var(--n50);
        margin: 0 auto;
    }
    .yoga-mail{
        max-width: 205px;
        margin: 0 auto;
    }
    @include maxQuery(1399){
        .better-line{
            height: 50px;
        }
    }
}
// Contact Better 