// banner-section
.banner-section {
    position: relative;
    &.index-one{
        &::before{
            content: '';
            position: absolute;
            background-color: rgba(var(--s1), 1);
            width: 100%;
            height: 30%;
            bottom: 0;
            left: 0;
            @include maxQuery(991){
                height: 15%;
            }
        }
    }
    .swiper-slide{
        opacity: 0;
        pointer-events: none;
        &.swiper-slide-active{
            opacity: 1;
            pointer-events: initial;
        }
    }
    .slide-number{
        transform: rotate(-90deg);
        text-align: center;
    }
    .swiper-pagination{
        height: 100%;
        position: relative !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .swiper-pagination-bullet{
            position: initial !important;
            border-radius: 0;
            width: 2px;
            background-color: rgba(var(--n1), 0.5);
            height: 60px;
            @include maxQuery(1199){
                height: 40px;
            }
        }
        .swiper-pagination-bullet-active{
            height: 100px;
            background-color: rgba(var(--p1), 1);
            @include maxQuery(1199){
                height: 60px;
            }
        }
    }
    .new-level{
        @include maxQuery(991){
            img{
                max-width: 44px;
            }
        }
        @include maxQuery(1199){
            img{
                max-width: 60px;
            }
        }
    }
    .swiper-slide-active{
        h3, .display-ex-one{
            margin: 0;
        }
    }
    .side-menubar{
        position: absolute;
        right: 50px;
        height: 60%;
        @include maxQuery(1199){
            right: 20px;
        }
        @include maxQuery(1600){
            height: 85%;
        }
    }
    .position-area{
        top: 20%;
        @include maxQuery(1550){
            top: initial;
            bottom: 0;
            .banner-line{
                display: none;
            }
        }
    }
    .circle-text{
        @include minQuery(1600){
            top: -12%;
            right: -20%;
        }
    }
    .cmn-text {
        opacity: 0;
        position: absolute;
        &.active{
            opacity: 1;
            position: relative;
            &::before {
                animation: changeWidth 4s ease-in-out;
            }
        }
        @include minQuery(767){
            &::before, &.active::before {
                content: '';
                position: absolute;
                height: 100%;
                background-color: rgba(var(--p1), 1);
                z-index: -1;
                left: 0;
                width: 15%;
                border-radius: 500px;
            }
        }
    }
    @keyframes changeWidth {
        0%, 100% { width: 15%; }
        50% { width: 100%; }
    }
    .hero-image-area{
        @include maxQuery(767){
            .circle-text-bg{
                position: initial !important;
            }
            .circle-img{
                max-width: 70%;
            }
        }
    }
    &.inner-section{
        background-image: url(../images/classes-details-banner-bg.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        &::before{
            content: '';
            position: absolute;
            background-color: rgba(var(--p2), 0.5);
            @include box('100', '%');
            bottom: 0;
            left: 0;
        }
    }
}

// story-area
.story-area{
    .single-item{
        .image-area{
            img{
                width: 50px;
            }
        }
    }
}

// amazing-team
.amazing-team{
    &::before{
        content: '';
        position: absolute;
        background-color: rgba(var(--s1), 1);
        width: 100%;
        height: 20%;
        bottom: 0;
        left: 0;
    }
    .single-item{
        &::before{
            content: "";
            position: absolute;
            background-color: rgba(var(--p1), 1);
            transform: rotate(13deg);
            transition: var(--transition);
            width: 120%;
            height: 0;
            bottom: -10%;
            left: -10%;
        }
        .hover-item{
            transition: var(--transition);
            opacity: 0;
        }
        &:hover, &.active{
            &::before{
                height: 50%;
            }
            .hover-item{
                opacity: 1;
            }
        }
    }
}

// counter-section
.counter-section{
    .single-item{
        margin: 0 -8px;
        &:hover{
            z-index: 2;
        }
    }
    .main-content{
        @include maxQuery(991){
            display: inline-block;
            column-count: 2;
            .single-item{
                margin: -16px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
        @include maxQuery(480){
            .single-item{
                margin: -12px;
            }
        }
    }
}

// Time & table start
.time-and-table{
    background-image: url(../images/time-and-table-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    table{
        border-spacing: 30px;
        @include maxQuery(767){
            width: 130%;
        }
        @include maxQuery(575){
            width: 140%;
        }
        @include maxQuery(480){
            width: 190%;
        }
        @include maxQuery(375){
            width: 220%;
        }
    }
    th, td{
        vertical-align: middle;
        &:first-child, &:last-child{
            padding: 0 30px;
        }
    }
    .nav-links{
        background-color: rgba(var(--s1), 1);
        color: rgba(var(--p2), 1);
        transition: var(--transition);
        &.active{
            color: rgba(var(--s1), 1);
            background-color: rgba(var(--p1), 1);
        }
    }

}

// input-bmi
.input-bmi{
    .start-area{
        &::before{
            content: '';
            position: absolute;
            background-color: rgba(var(--p2), 1);
            width: 50%;
            height: 100%;
            z-index: 0;
            bottom: 0;
            left: 0;
            @include maxQuery(991){
                width: 100%;
            }
        }
    }
    .table-area{
        // width: 110% !important;
        overflow-x: auto;
    }
}

// workout-routine
.workout-routine{
    .single-item{
        border: 1px solid rgba(var(--n2), 1);
        &:hover{
            border-color: rgba(var(--p1), 1);
            background-color: rgba(var(--p1), 1);
            h5, p{
                color: rgba(var(--s1), 1);
            }
        }
    }
    .icon-area{
        @include box(60);
    }
}

// shop-details
.shop-details{
    .qtySelector{
        .qtyValue{
            color: rgba(var(--s2), 1);
        }
        i{
            color: rgba(var(--s2), 1);
            background-color: transparent;
        }
    }
    .nice-select{
        span, li{
            color: rgba(var(--s2), 1);
        }
    }
    .qty-color-size{
        @include maxQuery(480){
            .col-4{
                width: 100% !important;
            }
        }
    }
}

// cart-section
.cart-section{
    tr{
        vertical-align: middle;
    }
    .qtySelector{

        .qtyValue{
            min-width: 100px !important;
            @include maxQuery(991){
                min-width: 60px !important;
            }
        }
        .qtyValue, i{
            background-color: transparent;
            color: rgba(var(--p2), 1);
            @include box(48);
        }
    }
    .product-area{
        img{
            @include box(50);
        }
    }
}

// shop-section
.shop-section{
    .single-item{
        border: 1px solid rgba(var(--p2), 0.6);
        &.active, &:hover{
            border: 1px solid rgba(var(--p1), 1);
            .abs-area{
                background-color: rgba(var(--p1), 1);
            }
            h5{
                color: rgba(var(--p1), 1) !important;
            }
            .btn-area{
                span, i{
                    color: rgba(var(--p1), 1) !important;
                }
            }
        }
    }
    .product-wrapper{
        height: 350px;
        @include maxQuery(991){
            height: 250px;
            img{
                max-width: 180px;
            }
        }
    }
    .abs-area{
        clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
        background-color: rgba(var(--p2), 1);
        width: 70px;
        height: 100px;
        i{
            margin-top: -10px;
        }
        @include maxQuery(991){
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
            width: 55px;
            height: 60px;
            img{
                width: 30px;
            }
        }
    }
}

// shop details
.shop-details{
    .singleTab{
        .nav-links{
            border: 1px solid rgba(var(--s2), 1);
            color: rgba(var(--s2), 1);
            &.active{
                border-color: transparent;
                background-color: rgba(var(--p1), 1);
                color: rgba(var(--s1), 1);
            }
        }
    }
}

// pricing-plan
.pricing-plan{
    .tabLinks .nav-links{
        &.active{
            color: rgba(var(--p2), 1);
        }
    }
    .single-item{
        border: 1px solid rgba(var(--p2), 1);
        &.active{
            border: 1px solid rgba(var(--p1), 1);
            .abs-area{
                background-color: rgba(var(--p1), 1);
            }
        }
    }
    .abs-area{
        clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
        background-color: rgba(var(--p2), 1);
        width: 70px;
        height: 100px;
        @include maxQuery(991){
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
            width: 55px;
            height: 60px;
            img{
                width: 30px;
            }
        }
    }
}

// Testimonial
.testimonial{
    .slider-btn{
        width: 160%;
        top: calc(50% - 5px);
        @include maxQuery(1500){
            width: 148%;
        }
        @include maxQuery(1399){
            width: 155%;
        }
    }
    .slider-pagination{
        span{
            letter-spacing: 3px;
        }
    }
    .info-area{
        p{
            letter-spacing: 3px;
        }
    }
    @include maxQuery(767){
        .quote-area img{
            max-width: 60px;
        }
    }
}

// our teams details
.our-team-details{
    .progress{
        background: rgba(var(--p2), 1);
        height: 6px;
        overflow: initial;
        .progress-bar{
            height: 8px;
            background-color: rgba(var(--p1), 1);
            width: 0%;
        }
    }
}

// our-blog
.our-blog{
    .abs-area{
        clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
        background-color: rgba(var(--p1), 1);
        width: 70px;
        height: 100px;
        .head{
            margin-top: -25px;
        }
        @include maxQuery(575){
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
            width: 60px;
            height: 70px;
        }
    }
    .view-more{
        border-bottom: 1px solid rgba(var(--p2), 1);
    }
    .single-item{
        &:hover{
            .view-more{
                border-color: rgba(var(--p1), 1);
            }
        }
    }
}

// video-section
.video-section{
    .cover-img{
        @include maxQuery(991){
            max-width: 100% !important;
            position: initial !important;
        }
    }
}

// instagram-follow
.instagram-follow{
    .abs-area{
        opacity: 0;
        transform: scale(0.6);
        transition: var(--transition);
    }
    .single-item{
        &:hover, &.active{
            .abs-area{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

// value-area
.value-area{
    .single-item{
        .icon-area{
            border: 1px solid rgba(var(--s1), 1);
            @include box(90);
            @include maxQuery(991){
                @include box(60);
            }
            img{
                @include maxQuery(991){
                    width: 30px;
                }
            }
        }
    }
    .swiper-pagination {
        background-color: rgba(var(--s2), 0.2);
        
        height: 1px;
        .swiper-pagination-bullet {
            height: 1px;
            width: 100%;
            border-radius: 0;
            &.swiper-pagination-bullet-active{
                background-color: rgba(var(--s2), 1);
                height: 3px;
                width: 75%;
            }
        }
    }
}

// happy-customer
.happy-customer{
    background-image: url(../images/happy-customers-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

// classes-details
.classes-details{
    .sidebar-wrapper{
        .payment{
            column-count: 2;
            li{
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
                width: 85px;
                height: 60px;
            }
        }
    }
}

// blog-details
.blog-details{
    .head-area{
        &.second{
            &::before{
                content: '';
                position: absolute;
                background-color: rgba(var(--p1), 1);
                width: 32px;
                height: 3px;
                bottom: 0;
                left: 0;
            }
        }
    }
}

// classes-section
.classes-section{
    &::before{
        content: '';
        position: absolute;
        background-color: rgba(var(--p2), 1);
        width: 100%;
        height: 30%;
        top: 0;
        left: 0;
        @include maxQuery(991){
            height: 15%;
        }
    }
    .single-item{
        background-color: rgba(var(--n1), 1);
        h5{
            color: rgba(var(--p2), 1);
        }
        p{
            color: rgba(var(--s2), 1);
        }
        &:hover{
            background-color: rgba(var(--p1), 1);
            h5, p{
                color: rgba(var(--s1), 1);
            }
            .cus-border{
                border-color: rgba(var(--p1), 1) !important;
            }
        }
        .icon-area{
            @include box(90);
            @include maxQuery(991){
                @include box(65);
            }
            img{
                @include maxQuery(991){
                    width: 35px;
                }
            }
        }
        
    }
}

// FAQ
.faq-section {
    .header-area {
        cursor: pointer;
        button {
            font-size: inherit;
            color: rgba(var(--p2), 1);
            padding-right: 15%;
            &::after {
                position: absolute;
                z-index: 1;
                right: 0;
                border-radius: 5px;
                content: '\ea61';
                font-family: "tabler-icons";
                font-size: 24px;
                transform: rotate(0deg);
                transition: var(--transition);
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(var(--p2-fixed));
                @include box(38);
                @include maxQuery(767) {
                    @include box(28);
                }
            }
        }
    }
    .accordion-single{
        &.active{
            button{
                color: rgba(var(--p1), 1);
            }
        }
    }
    .content-area {
        display: none;
    }
    .active button {
        &::after {
            content: '\ea61';
            transform: rotate(90deg);
        }

        &::before {
            background-color: rgba(var(--s1), 1);
        }
    }
}

// contact-section
.contact-section{
    .section-img{
        img{
            @include maxQuery(1399){
                max-width: 100% !important;
            }
        }
    }
}

// Privacy & Terms
.privacy-content {
    .top-wrapper {
        margin-top: -7px;
        margin-bottom: -7px;
        h4 {
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 30px;
        }
        ul {
            margin-bottom: 20px;
            li {
                margin-bottom: 10px;
            }
        }
    }
    .safe-data {
        margin: 55px 0;
        ul {
            list-style-type: decimal;
            margin-left: 18px;
            li {
                padding-left: 15px;
                &::marker {
                    font-weight: bold;
                }
            }
        }
    }
    .cookies {
        margin-bottom: -36px;
    }
    &.terms {
        .safe-data {
            margin-bottom: -23px;
        }
    }
}

// pre-built-sites
.pre-built-sites{
    z-index: 9999;
    .sites-show-button{
        background-color: #292C36;
        img{
            background: #48A133 !important;
        }
    }
    .buynow-button{
        background: #C72424 !important;
    }
    .button-area{
        top: calc(50% - 100px);
        button{
            writing-mode: vertical-rl;
        }
    }
    .close-button-area{
        z-index: 9999;
        opacity: 0;
        pointer-events: none;
        &.active{
            pointer-events: visible;
            opacity: 1;
        }
        button{
            @include box(40);
            background-color: #c72424;
        }
    }
    .all-sites-container{
        height: 100vh;
        background-color: #000000;
        overflow-y: scroll;
        z-index: 999;
        width: 100px;
        height: 100px;
        top: 50%;
        transform: translate(85%, -50%) perspective(50px) rotateY(-25deg);
        transition: all ease-in-out 2s;
        &.active{
            transform: translate(0%, -50%);
            width: 100%;
            height: 100%;
        }
    }
}

// prebuilt-websites
.prebuilt-websites{
    .abs-area{
        white-space: nowrap;
        position: relative;
        -webkit-text-stroke: 1px rgba(var(--p1), 0.10);
        color: rgba(217, 217, 217, 0.02);
    }
    .not-graddient{
        -webkit-text-fill-color: var(--text-white) !important;
        min-width: 150%;
    }
    .abs-illus{
        left: 20%;
    }
    .head-gradient{
        background: linear-gradient(107deg, rgba(68,54,255,1) 14%, rgba(254,69,232,1) 47%, rgba(78,236,155,1) 100%);
    }
    .single-box{
        border-radius: 32px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.10);
        position: relative;
        &::after, &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: inherit;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &::after{
            background: linear-gradient(#11131E, #11131E) padding-box, linear-gradient(to top left, #f79b91, #c82f97, #6a4ded) border-box;
            border: 1px solid transparent;
            z-index: -1;
        }
        &::before{
            background: linear-gradient(0deg, #000 -6.93%, rgba(0, 0, 0, 0.00) 94.81%);
            z-index: 1;
        }
        .view-demo{
            opacity: 0;
        }
        &:hover{
            &::before, &::after, .view-demo{
                opacity: 1;
            }
            .home-thumb {
                background-position: bottom;
                &.inner{
                    background-position: top;
                }
            }
        }
        .hot-tag{
            background-color: #F45939;
        }
    }
    .home-thumb {
        width: 100%;
        height: 450px;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        transition: all 7s ease;
        position: relative;
    }
    .coming-soon{
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: #141A20;
        span{
            background: linear-gradient(90deg, #756ED5 14.48%, #E276D5 57.73%, #4EEC9B 99.98%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.inner-website{
        .abs-illus {
            left: initial !important;
            right: 22%;
        }
    }
    .tabLinks{
        .nav-links{
            &.active{
                background: linear-gradient(#11131E, #11131E) padding-box, linear-gradient(to top left, #6a4ded, #c82f97, #f79b91) border-box;
                border: 1px solid transparent;
                z-index: -1;
            }
        }
    }
}