.hero-banner{
    margin-left: 104px;
    .banner-slide-inner{
        background: url(../../assets/images/banner/bn1.png) no-repeat center center;
        background-size: cover;
        position: relative;
        padding: 210px 0 320px;
        z-index: 1;
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            width: 600px;
            height: 100%;
            content: "";
            background: url(../../assets/images/shape/bn-before.png) no-repeat center center;
            background-size: cover;
        }
        .banner-content-box{
            max-width: 750px;
            p{
                max-width: 631px;
            }
            .subtitles{
                font-family: var(--body-font);
                font-size: 16px;
            }
            .display-two{
                font-family: var(--sub-font);
                line-height: 110%;
            }
            .bn-vid{
                @include box(50);
                border: 1px solid var(--n0);
                position: relative;
                z-index: 1;
                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    border: 1px solid var(--n0);
                    border-radius: 50%;
                    z-index: -1;
                    animation: vizom 2s linear infinite;
                }
            }
        }
        @include maxQuery(1399){
            padding: 160px 0 290px;
            &::before{
                width: 400px;
            }
        }
        @include maxQuery(1199){
            padding: 120px 0 130px;
        }
        @include maxQuery(991){
            &::before{
                width: 300px;
            }
            &::after{
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.50);
                z-index: -1;
            }
        }
        @include maxQuery(767){
            padding: 150px 0 150px;
            &::before{
                width: 200px;
            }
            .banner-content-box{
                max-width: 750px;
                p{
                    max-width: 631px;
                }
                .subtitles{
                    font-size: 16px;
                }
                .display-two{
                    font-weight: 700;
                    font-size: 44px;
                }
                .bn-vid{
                    @include box(44);
                }
            }
        }
        @include maxQuery(575){
            padding: 80px 0 200px;
            &::before{
                width: 100px;
            }
            .banner-content-box{
                .display-two{
                    font-size: 38px;
                    font-weight: 500;
                }
            }
        }
        @include minQuery(575){
           .container{
            max-width: 1742px;
           }
        }
    }
    .bn-bg2{
        background: url(../../assets/images/banner/bn2.png) no-repeat center center;
        background-size: cover;
    }
    .bn-bg3{
        background: url(../../assets/images/banner/bn3.png) no-repeat center center;
        background-size: cover;
    }
    .con-info-wrap{
        writing-mode: vertical-lr;
        position: absolute;
        left: -104px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        .in-line{
            width: 104px;
            height: 1px;
            background: var(--n50);
            opacity: 0.5;
        }
        a{
            transition: all 0.4s;
            &:hover{
                color: var(--p1);
            }
        }
    }
    .banner-slide-btn{
        width: 300px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        .line{
            width: 1px;
            height: 55px;
            background: var(--n50);
        }
        .bn-nextteam,
        .bn-prevteam{
            transition: all 0.5s;
            &:hover{
                cursor: pointer;
                color: var(--p1);
            }
        }
    }
    @include maxQuery(1399){
        .banner-slide-btn{
            width: 190px;
            .line{
                width: 1px;
                height: 55px;
                background: var(--n50);
            }
            .bn-nextteam,
            .bn-prevteam{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    @include maxQuery(575){
        .banner-slide-btn{
           right: 50%;
           transform: translateX(50%);
           border-radius: 10px;
           bottom: 10px;
           width: 164px;
           .bn-nextteam,
           .bn-prevteam{
            border-radius: 10px;
            padding: 0px 16px;
            font-size: 14px;
            text-align: center;
           }
        }
    }
    @include maxQuery(1199){
        margin-left: 32px;
        .con-info-wrap{
            writing-mode: vertical-lr;
            position: absolute;
            left: -32px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            .in-line{
                width: 32px;
                height: 1px;
                background: var(--n50);
                opacity: 0.5;
            }
            a{
                transition: all 0.4s;
                &:hover{
                    color: var(--p1);
                }
            }
        }
    }
    @include maxQuery(575){
        margin-left: 0px;
        .con-info-wrap{
            writing-mode: initial;
            position: absolute;
            left: 14px;
            top: initial;
            bottom: 104px;
            transform: translateY(-0%);
            z-index: 9;
            .in-line{
                width: 4px;
                height: 4px;
                background: var(--n0);
                opacity: 1;
            }
            a{
                color: var(--n0);
                transition: all 0.4s;
                font-size: 12px;
                i{
                    color: var(--n0);
                    font-size: 15px;
                }
                &:hover{
                    color: var(--p1);
                }
            }
        }
    }
}
@keyframes vizom {
    10%{
        transform: scale(1.2);
    }
    30%{
        transform: scale(1.3);
    }
    80%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.6);
        opacity: 0;
    }
}

.scroll-bar{
    min-width: 90px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -246px;
    .sc-text{
        margin-bottom: 14px;
        transition: all 0.4s;
    }
    .line{
        width: 1px;
        height: 60px;
        background: var(--n0);
        margin: 0 auto;
        animation: updown 2s linear infinite;
        transition: all 0.4s;
    }
    &:hover{
        .sc-text{
            color: var(--p1);
        }
        .line{
            background: var(--p1);
        }
    }
    @include maxQuery(1199){
        display: none;
    }
}

@keyframes updwon {
    50%{
        transform: translateY(-10px);
    }
}

//Breadcrumnd 
.breadcrumnd-hero{
    background: url(../../assets/images/banner/breadcrumnd.png) no-repeat center center;
    background-size: cover;
    padding: 140px 0 150px;
    z-index: 1;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.40);
        mix-blend-mode: hard-light;
        z-index: -1;
    }
    .breadcrumnd-list{
        li,a{
            color: var(--n0);
        }
    }
    @include maxQuery(991){
        padding: 120px 0 120px;
    }
    @include maxQuery(575){
        padding: 80px 0 90px;
    }
}
//Breadcrumnd 