// default font family
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

// default root
:root {
	--body-font: 'Raleway', sans-serif;

	--transition: all 0.5s ease-in-out;
	--transition-sec: all 1.8s ease-in-out;
	--transition-third: all 2.2s ease-in-out;

	/* Color styles */
	--p1: 249, 93, 0;
	--p2: 9, 9, 8;
	
	--s1: 255, 255, 255;
	--s2: 58, 56, 54;

	--n1: 245, 245, 245;
	--n2: 230, 229, 229;
	--n3: 236, 232, 227;

	--gradient-p1: linear-gradient(90deg, rgba(255, 222, 159, 0.47) 0%, rgba(255, 222, 159, 0.12) 51.11%, rgba(255, 222, 159, 0.00) 100%);
	--box-shadow-p1: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
}




