<!-- faqs section start  -->
<section class="section-blur faqs-section section-left-margin pt-120 pb-120 bg-primary-75">
    <div class="container-fluid px-4xl-14 px-3xl-12 px-xxl-10">
        <div class="row justify-content-center">
            <div class="col-3xl-11">
                <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8">
                    <div class="col-xl-5 col-lg-6 text-center">
                        <span class="d-block text-secondary-50 fw-semibold text-decoration-underline mb-4">
                            Faq</span>
                        <h2 class="title-animation-line display-four text-n900 mb-5 fw-extra-bold">
                            Frequently Asked Questions
                        </h2>
                        <p class="text-animation text-n500">
                            Find answers to common queries about our IT solutions, services, and processes.
                            We're here to provide clarity and address any concerns you may have.
                        </p>
                    </div>
                </div>
                <div class="row g-6">
                    <div class="col-lg-6">
                        <div class="accordion-card p-lg-8 p-sm-6 p-4 border n900-border bg-primary-75">
                            <h4 class="title title-animation-line fw-extra-bold mb-lg-6 mb-4">
                                What types of IT solutions do you offer?
                            </h4>
                            <div class="content ps-xxl-20 ps-lg-15 ps-md-10 ps-sm-6 ps-4">
                                <p>
                                    We offer a comprehensive range of IT solutions, including cybersecurity,
                                    cloud computing, software development, network infrastructure, and IT
                                    consulting services.
                                </p>
                            </div>
                            <span class="toggle-icon d-block text-end text-2xl"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion-card p-lg-8 p-sm-6 p-4 border n900-border bg-primary-75">
                            <h4 class="title title-animation-line fw-extra-bold mb-lg-6 mb-4">
                                What sets your IT solutions apart from competitors?
                            </h4>
                            <div class="content ps-xxl-20 ps-lg-15 ps-md-10 ps-sm-6 ps-4">
                                <p>
                                    We offer a comprehensive range of IT solutions, including cybersecurity,
                                    cloud computing, software development, network infrastructure, and IT
                                    consulting services.
                                </p>
                            </div>
                            <span class="toggle-icon d-block text-end text-2xl"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion-card p-lg-8 p-sm-6 p-4 border n900-border bg-primary-75">
                            <h4 class="title title-animation-line fw-extra-bold mb-lg-6 mb-4">
                                How do you ensure data security for your clients?
                            </h4>
                            <div class="content ps-xxl-20 ps-lg-15 ps-md-10 ps-sm-6 ps-4">
                                <p>
                                    We offer a comprehensive range of IT solutions, including cybersecurity,
                                    cloud computing, software development, network infrastructure, and IT
                                    consulting services.
                                </p>
                            </div>
                            <span class="toggle-icon d-block text-end text-2xl"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion-card p-lg-8 p-sm-6 p-4 border n900-border bg-primary-75">
                            <h4 class="title title-animation-line fw-extra-bold mb-lg-6 mb-4">
                                What if I have a question that's not listed here?
                            </h4>
                            <div class="content ps-xxl-20 ps-lg-15 ps-md-10 ps-sm-6 ps-4">
                                <p>
                                    We offer a comprehensive range of IT solutions, including cybersecurity,
                                    cloud computing, software development, network infrastructure, and IT
                                    consulting services.
                                </p>
                            </div>
                            <span class="toggle-icon d-block text-end text-2xl"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion-card p-lg-8 p-sm-6 p-4 border n900-border bg-primary-75">
                            <h4 class="title title-animation-line fw-extra-bold mb-lg-6 mb-4">
                                Do you provide ongoing support and maintenance?
                            </h4>
                            <div class="content ps-xxl-20 ps-lg-15 ps-md-10 ps-sm-6 ps-4">
                                <p>
                                    We offer a comprehensive range of IT solutions, including cybersecurity,
                                    cloud computing, software development, network infrastructure, and IT
                                    consulting services.
                                </p>
                            </div>
                            <span class="toggle-icon d-block text-end text-2xl"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion-card p-lg-8 p-sm-6 p-4 border n900-border bg-primary-75">
                            <h4 class="title title-animation-line fw-extra-bold mb-lg-6 mb-4">
                                What are your response times for resolving IT issues?
                            </h4>
                            <div class="content ps-xxl-20 ps-lg-15 ps-md-10 ps-sm-6 ps-4">
                                <p>
                                    We offer a comprehensive range of IT solutions, including cybersecurity,
                                    cloud computing, software development, network infrastructure, and IT
                                    consulting services.
                                </p>
                            </div>
                            <span class="toggle-icon d-block text-end text-2xl"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faqs section end  -->