<!-- footer section start  -->
<footer class="section-blur footer-section section-left-margin pt-120 bg-n900">
    <div class="container-fluid px-4xl-14 px-3xl-12 px-xxl-10">
        <div class="row justify-content-center">
            <div class="col-3xl-11">
                <!-- news letter  -->
                <div
                    class="row g-6 justify-content-between align-items-center py-xl-20 py-lg-15 py-md-10 py-8 px-xl-15 px-lg-10 px-md-8 px-sm-6 px-4 bg-primary-300">
                    <div class="col-xl-5 col-lg-6">
                        <span class="display-four text-n900 fw-extra-bold">
                            Subscribe to Our Newsletter Now
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <form action="#">
                            <label class="text-n900 text-xl mb-2 fw-bold">Stay ahead of the curve with exclusive
                                updates</label>
                            <div class="d-flex flex-wrap flex-sm-nowrap gap-lg-4 gap-3 position-relative">
                                <input type="email"
                                    class="w-100 text-n0 bg-n900 py-lg-4 py-3 px-lg-8 px-4 border-0 placeholder-n0"
                                    placeholder="Enter your email address">
                                <button type="submit"
                                    class="text-n0 bg-secondary-50 py-lg-4 py-3 px-lg-8 px-4 border n900-border">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- footer content -->
                <div class="row g-6 pt-100 pb-100">
                    <div class="col-lg-4 col-sm-6">
                        <div class="footer-logo mb-4">
                            <img class="w-100" src="assets/images/logo-white.png" alt="logo">
                        </div>
                        <p class="text-n0 mb-lg-8 mb-6 me-xxl-10 me-md-6">
                            Explore our diverse range of products and services designed to enhance your everyday
                            living.
                        </p>
                        <ul class="social-items d-flex gap-3">
                            <li>
                                <a href="#" class="icon text-xl">
                                    <i class="ph-fill ph-facebook-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon text-xl">
                                    <i class="ph-fill ph-twitter-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon text-xl">
                                    <i class="ph-fill ph-linkedin-logo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="icon text-xl">
                                    <i class="ph-fill ph-instagram-logo"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="footer-menu">
                            <span class="text-2xl text-n0 fw-extra-bold mb-lg-6 mb-4 d-block">Company</span>
                            <ul class="footer-menu-items d-grid gap-4">
                                <li>
                                    <a href="#" class="text-n0">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Services</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Blog</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Project</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-menu">
                            <span class="text-2xl text-n0 fw-extra-bold mb-lg-6 mb-4 d-block">Services</span>
                            <ul class="footer-menu-items d-grid gap-4">
                                <li>
                                    <a href="#" class="text-n0">Cybersecurity Solutions</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Cloud Computing</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">IT Consulting and Strategy</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Virtualization Solutions</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Software Development</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-menu">
                            <span class="text-2xl text-n0 fw-extra-bold mb-lg-6 mb-4 d-block">Contact</span>
                            <ul class="footer-menu-items d-grid gap-4">
                                <li>
                                    <a href="#" class="text-n0">Address: 4211 Webster Street Rahway, NJ
                                        07065. </a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Email: info@yourdomain.com</a>
                                </li>
                                <li>
                                    <a href="#" class="text-n0">Phone: (+44) 123 456 789</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="py-lg-6 py-4 text-center">
    <p class="text-n900">Copyright © <span class="currentYear"></span>. All Rights Reserved.</p>
</div>
<!-- footer section end  -->