<!-- Navbar section start -->
<!-- header section -->
<header class="header-section" data-lenis-prevent>
    <div class="menu-control-area">
        <div
            class="d-flex flex-lg-column justify-content-lg-around justify-content-between align-items-center gap-xxl-20 gap-xl-15 gap-lg-10 gap-md-8 gap-sm-6 gap-4 py-xl-15 py-lg-10 py-6 px-4 px-sm-6 px-lg-0">
            <a href="index.html" title="TechPulse" class="header-logo">
                <img class="w-100" src="./assets/images/logo-black.png" alt="logo">
            </a>
            <div class="menu-toggle-btn d-grid justify-content-center gap-lg-5 gap-md-4 gap-sm-3 gap-2">
                <span class="menu-toggle-icon d-grid gap-2 justify-content-center">
                    <span class="bar bar-1"></span>
                    <span class="bar bar-2"></span>
                    <span class="bar bar-3"></span>
                </span>
                <div class="position-relative">
                    <span class="menu-text position-absolute top-0 end-0 text-xl fw-medium">Menu</span>
                    <span class="close-text position-absolute top-0 end-0 text-xl fw-medium">Close</span>
                </div>
            </div>
            <div class="social-list-area d-lg-flex d-none flex-column justify-content-center align-items-center gap-3">
                <div class="vr-line mx-auto"></div>
                <ul
                    class="social-list d-inline-grid gap-3 border primary500-border justify-content-center align-items-center">
                    <li>
                        <a href="#" class="text-xl">
                            <i class="ph-fill ph-twitter-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-xl">
                            <i class="ph-fill ph-facebook-logo"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-xl">
                            <i class="ph-fill ph-instagram-logo"></i>
                        </a>
                    </li>
                </ul>
                <span class="text-capitalize rotate-n90 d-block mt-8 text-primary-500">Get in touch</span>
            </div>
        </div>
    </div>

    <nav class="menu-items-area ">
        <ul class="nav-menu-items d-grid gap-4">
            <li class="menu-link"><a href="index.html" class="text-h2">Home</a></li>
            <li class="menu-link"><a href="about-us.html" class="text-h2">About us</a></li>
            <li class="menu-item">
                <button class="text-nowrap text-h2">Service
                    <i class="ph ph-caret-right"></i>
                </button>
                <ul class="sub-menu">
                    <li class="menu-link"><a href="services.html" class="text-h2">Services</a>
                    </li>
                    <li class="menu-link"><a href="service-details.html" class="text-h2">Service
                            Details</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <button class="text-nowrap text-h2">Case Study
                    <i class="ph ph-caret-right"></i>
                </button>
                <ul class="sub-menu">
                    <li class="menu-link"><a href="case-studies.html" class="text-h2"> Case Studies</a>
                    </li>
                    <li class="menu-link"><a href="case-study-details.html" class="text-h2"> Case Study
                            Details</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <button class="text-nowrap text-h2"> Blog
                    <i class="ph ph-caret-right"></i>
                </button>
                <ul class="sub-menu">
                    <li class="menu-link"><a href="blogs.html" class="text-h2"> Blogs</a>
                    </li>
                    <li class="menu-link"><a href="blog-details.html" class="text-h2"> Blog
                            Details</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <button class="text-nowrap text-h2"> Team
                    <i class="ph ph-caret-right"></i>
                </button>
                <ul class="sub-menu">
                    <li class="menu-link"><a href="team.html" class="text-h2"> Team</a>
                    </li>
                    <li class="menu-link"><a href="team-details.html" class="text-h2"> Team
                            Details</a>
                    </li>
                </ul>
            </li>
            <li class="menu-link"><a href="faqs.html" class="text-h2">FAQ</a></li>
            <li class="menu-link"><a href="contact-us.html" class="text-h2">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- Navbar section end -->