<!-- trusted by our clients section start -->
<section class="trusted-by-section pt-120 pb-120 section-left-margin">
    <div class="container-fluid px-4xl-14 px-3xl-12 px-xxl-10">
        <div class="row justify-content-center">
            <div class="col-3xl-11">
                <span class="d-block text-n900 text-2xl fw-bolder text-center mb-lg-15 mb-md-10 mb-8"> Trusted
                    by 10,000+ companies around the world
                </span>
                <!-- brand swiper  start -->
                <div class="swiper brand-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-1.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-2.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-3.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-4.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-5.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-1.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-2.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-3.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-4.png" alt="brand logo">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-image">
                                <img src="assets/images/brand-5.png" alt="brand logo">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- brand swiper end -->
            </div>
        </div>
    </div>
</section>
<!-- trusted by our clients section end -->