<!-- team section start -->
<section class="section-blur team-section section-left-margin pt-120 pb-120 bg-primary-75">
    <div class="container-fluid px-4xl-14 px-3xl-12 px-xxl-10">
        <div class="row justify-content-center">
            <div class="col-3xl-11">
                <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8">
                    <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10 text-center">
                        <span class="d-block text-secondary-50 fw-semibold text-decoration-underline mb-4">
                            Our Team</span>
                        <h2 class="title-animation-line display-four text-n900 mb-5 fw-extra-bold">
                            Meet Our Amazing Team
                        </h2>
                        <p class="text-animation text-n500">
                            From cybersecurity to cloud computing, we offer comprehensive IT solutions tailored
                            to your business needs. Empower your organization
                        </p>
                    </div>
                </div>
                <div class="row g-6">
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-card">
                            <div class="team-img reveal-bottom border n900-border mb-lg-6 mb-4">
                                <a href="team-details.html">
                                    <img class="w-100" src="assets/images/team-1.png" alt="team image">
                                </a>
                                <div class="team-social-list">
                                    <span class="icon text-2xl fw-extra-bold z-0">
                                        <i class="ph ph-share-network"></i>
                                    </span>
                                    <ul class="social-list d-flex gap-2">
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-twitter-logo"></i></a></li>
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-facebook-logo"></i></a>
                                        </li>
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-instagram-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <a href="team-details.html" class="text-h4 text-n900">David Warner</a>
                                <span class="text-n900">CEO & FOUNDER</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-card">
                            <div class="team-img reveal-bottom border n900-border mb-lg-6 mb-4">
                                <a href="team-details.html">
                                    <img class="w-100" src="assets/images/team-2.png" alt="team image">
                                </a>
                                <div class="team-social-list">
                                    <span class="icon text-2xl fw-extra-bold z-0">
                                        <i class="ph ph-share-network"></i>
                                    </span>
                                    <ul class="social-list d-flex gap-2">
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-twitter-logo"></i></a></li>
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-facebook-logo"></i></a>
                                        </li>
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-instagram-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <a href="team-details.html" class="text-h4 text-n900">Makhaira Antione</a>
                                <span class="text-n900">CEO & FOUNDER</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="team-card">
                            <div class="team-img reveal-bottom border n900-border mb-lg-6 mb-4">
                                <a href="team-details.html">
                                    <img class="w-100" src="assets/images/team-3.png" alt="team image">
                                </a>
                                <div class="team-social-list">
                                    <span class="icon text-2xl fw-extra-bold z-0">
                                        <i class="ph ph-share-network"></i>
                                    </span>
                                    <ul class="social-list d-flex gap-2">
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-twitter-logo"></i></a></li>
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-facebook-logo"></i></a>
                                        </li>
                                        <li><a href="#" class="icon text-2xl fw-extra-bold"><i
                                                    class="ph ph-instagram-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <a href="team-details.html" class="text-h4 text-n900">Leslie Alexander</a>
                                <span class="text-n900">CEO & FOUNDER</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team section end -->