<!-- testimonial section start  -->
<section class="section-blur testimonial-section section-left-margin pt-120 pb-120">
    <div class="container-fluid px-4xl-14 px-3xl-12 px-xxl-10">
        <div class="row justify-content-center mb-lg-15 mb-md-10 mb-8">
            <div class="col-3xl-11">
                <div class="row justify-content-between align-items-end">
                    <div class="col-4xl-6 col-xl-7 col-lg-8 col-sm-10">
                        <span class="d-block text-secondary-50 fw-semibold text-decoration-underline mb-4"> Our
                            Customer Review</span>
                        <h2 class="title-animation-line display-four text-n900 mb-5 fw-extra-bold">
                            Trusted by Over 400,000 Accounts and Agencies
                        </h2>
                        <p class="text-animation text-n500 mb-lg-8 mb-6">
                            Our experience with Techpulse has been exceptional. Their innovative IT solutions
                            transformed our business operations, and their team's expertise
                        </p>
                    </div>
                    <div class="col-4xl-6 col-xl-5 col-sm-2 position-relative">
                        <div
                            class="bolt-shape position-absolute bottom-100 start-50 translate-middle d-none d-xl-block">
                            <img class="w-100" src="assets/images/bolt.png" alt="bolt shape">
                        </div>
                        <div class="swiper-btns d-flex gap-2 align-items-center justify-content-end">
                            <button class="btn-prev ts-prev text-xl fw-extra-bold">
                                <i class="ph ph-arrow-left"></i>
                            </button>
                            <button class="btn-next ts-next text-xl fw-extra-bold">
                                <i class="ph ph-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-lg-0">
        <div class="row justify-content-end">
            <div class="col-3xl-11">
                <div class="swiper testimonial-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-card p-lg-xl-10 p-lg-8 p-sm-6 p-4 border n900-border">
                                <span class="text-h4 fw-extra-bold text-n900 mb-4">Best Platform</span>
                                <p class="text-n900 mb-lg-6 mb-4">
                                    "Working with Techpulse has been a game-changer for us. Their IT solutions
                                    streamlined our processes, improved efficiency, and saved us valuable time
                                    and resources”
                                </p>
                                <div class="d-flex gap-4">
                                    <div class="user-img align-items-center">
                                        <img class="w-100 border n900-border" src="assets/images/user-1.png"
                                            alt="user image">
                                    </div>
                                    <div class="user-info">
                                        <h5 class="text-n900 text-xl fw-bold">David Warner</h5>
                                        <span class="text-n900">CEO of ABC Company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-card p-lg-xl-10 p-lg-8 p-sm-6 p-4 border n900-border">
                                <span class="text-h4 fw-extra-bold text-n900 mb-4">Helpful!</span>
                                <p class="text-n900 mb-lg-6 mb-4">
                                    "I can't speak highly enough about the team at Techpulse. Their expertise in
                                    cybersecurity helped us protect our data and maintain compliance.
                                    Trustworthy and reliable IT solutions provider!"
                                </p>
                                <div class="d-flex gap-4">
                                    <div class="user-img align-items-center">
                                        <img class="w-100 border n900-border" src="assets/images/user-2.png"
                                            alt="user image">
                                    </div>
                                    <div class="user-info">
                                        <h5 class="text-n900 text-xl fw-bold">Sarah Johnson</h5>
                                        <span class="text-n900">IT Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-card p-lg-xl-10 p-lg-8 p-sm-6 p-4 border n900-border">
                                <span class="text-h4 fw-extra-bold text-n900 mb-4">Superb!</span>
                                <p class="text-n900 mb-lg-6 mb-4">
                                    "From cloud migration to software development, Techpulse delivered top-notch
                                    IT solutions every step of the way. Their proactive approach and attention
                                    to detail exceeded.
                                </p>
                                <div class="d-flex gap-4">
                                    <div class="user-img align-items-center">
                                        <img class="w-100 border n900-border" src="assets/images/user-3.png"
                                            alt="user image">
                                    </div>
                                    <div class="user-info">
                                        <h5 class="text-n900 text-xl fw-bold">David Williams</h5>
                                        <span class="text-n900">CTO of DEF Enterprises</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-card p-lg-xl-10 p-lg-8 p-sm-6 p-4 border n900-border">
                                <span class="text-h4 fw-extra-bold text-n900 mb-4">Best Services</span>
                                <p class="text-n900 mb-lg-6 mb-4">
                                    "Choosing Techpulse for our IT needs was one of the best decisions we made.
                                    Their personalized approach and dedication to client satisfaction set them
                                    apart.
                                </p>
                                <div class="d-flex gap-4">
                                    <div class="user-img align-items-center">
                                        <img class="w-100 border n900-border" src="assets/images/user-4.png"
                                            alt="user image">
                                    </div>
                                    <div class="user-info">
                                        <h5 class="text-n900 text-xl fw-bold">Emily Clark,</h5>
                                        <span class="text-n900">COO of GHI Solutions</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section end  -->