.header-section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.navbar-area {
    @media screen and (max-width: 991px) {
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 99;
        width: 50%;
        height: 85vh;
        overflow-y: auto;
        background-color: $primary4;
        padding: 20px;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 480px) {
            width: 100%;
            padding: 10px;
        }

        &.open {
            transform: translateX(0);
        }
    }

    .nav-menu-items {
        @media screen and (min-width: 992px) {

            .menu-item {
                position: relative;

                .sub-menu {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    transform: translateY(50px);
                    min-width: max-content;
                    width: 100%;
                    background-color: $primary4;
                    padding: 20px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

                    .menu-link {
                        transition: $transition;

                        &:hover {
                            transform: translateX(10px);
                        }
                    }

                    .menu-item {
                        .sub-menu {
                            top: 0;
                            left: 100%;
                            transform: translateX(50px);
                            visibility: hidden;
                            opacity: 0;
                        }

                        &:hover {
                            .sub-menu {
                                opacity: 1;
                                visibility: visible;
                                transform: translateX(10px);
                            }
                        }
                    }
                }

                &:hover {
                    .sub-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(10px);
                    }
                }
            }
        }

        @media screen and (max-width: 991px) {
            padding: 20px;

            .menu-link,
            .menu-item {
                padding-bottom: 5px;
                border-bottom: 1px solid $primary2;
                overflow: hidden;
            }

            .menu-item {
                position: relative;

                .sub-menu {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    min-width: max-content;
                    width: 100%;
                    background-color: $primary;
                    opacity: 0;
                    visibility: hidden;
                    height: 0px !important;
                    transition: height 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
                    box-sizing: border-box;

                    .menu-item {
                        border-bottom: 1px solid $primary2;
                        padding-bottom: 4px;

                        .sub-menu {
                            opacity: 0;
                            visibility: hidden;
                            height: 0px !important;
                            padding: 0;
                            transition: height 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
                        }

                        &.active {
                            border-bottom: unset;

                            .sub-menu {
                                transform: translateX(15px);
                                opacity: 1;
                                visibility: visible;
                                height: auto !important;
                            }
                        }
                    }
                }

                &.active {
                    .sub-menu {
                        opacity: 1;
                        padding: 10px 20px;
                        visibility: visible;
                        height: auto !important;
                    }
                }
            }
        }

        .menu-item button,
        .menu-link a {
            color: $n0;
            transition: $transition;

            &:hover,
            &.active {
                color: $primary2;
            }
        }

        .menu-item {
            &.active {
                button {
                    color: $primary2;
                }

                .sub-menu {
                    .menu-item {
                        button {
                            color: $n0;
                        }

                        &.active {
                            button {
                                color: $primary2;
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-toggle-btn {
    display: none;

    @media screen and (max-width: 991px) {
        display: block;
        cursor: pointer;
        padding: 8px 12px;
        border-radius: 5px;
        color: $n0;
        font-size: 20px;
        background: $primary;
        border: 1px solid $primary2;

    }

    @media screen and (max-width: 575px) {
        padding: 6px 8px;
    }

}

.nav-btns {
    .small-btn {
        @media screen and (max-width: 575px) {
            padding: 8px 12px;
        }

        @media screen and (max-width: 480px) {
            padding: 8px;
            font-size: 14px;
        }
    }
}